.trade-input.trade-input-container {
    height: 96px;
    position: relative;
    .input-item {
      height: 58px;
      border-width: 1px;
      border-style: solid;
      padding: 0 15px;
      border-radius: 2px;
      position: relative;
      cursor: text;
      overflow: hidden;
      width: 100%;
      .tit {
        line-height: 34px;
        height: 30px;
      }
      .inputs {
        height: 18px;
        line-height: 18px;
        font-size: 14px;
        width: 90%;
      }
      .units {
        position: absolute;
        top: 17px;
        right: 15px;
      }
    }
    .price-rate {
      height: 24px;
      line-height: 24px;
      padding: 0 15px;
    }
    .disabledText {
      font-size: 14px;
    }
    .error-msg {
      border-radius: 2px;
      line-height: 32px;
      height: 30px;
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      padding: 0 20px;
      em {
        display: block;
        border-width: 7px;
        position: absolute;
        bottom: -14px;
        left: 15px;
        border-style: solid dashed dashed;
        border-color: #EB4D5C transparent transparent;
        font-size: 0;
        line-height: 0;
      }
    }
    &.disabledForm {
      .input-item {
        border-style: dashed;
      }
    }
  }
  .slide-fade-enter-active {
    transition: all .5s;
  }
  .slide-fade-leave-active {
    transition: all .5s;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(-5px);
    opacity: 0;
  }