.futuresData {
  padding: 10px 0;
  .futuresData-content, .data-content {
    width: 1180px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .mining-tit {
    height: 54px;
    line-height: 51px;
    padding: 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    .item {
      display: inline-block;
      font-size: 14px;
      margin-right: 50px;
      height: 51px;
      user-select: none;
      cursor: pointer;
      &.selected {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
    .search {
      float: right;
      line-height: 28px;
      margin-top: 14px;
      .common-button {
        float: left;
      }
    }
  }
  .filter-box {
    height: 65px;
    padding: 15px 20px 0 20px;
    .common-select, .input-line-content {
      float: left;
      margin-right: 20px;
      z-index: 99;
    }
  }
  .more-link {
    padding: 20px;
    text-align: right;
    padding-right: 20px;
    span {
      cursor: pointer;
    }
  }
  .con-text {
    padding: 10px 0 0 25px;
  }
  .chartbox {
    width: 100%;
    height: 400px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .common-table { 
    background: none !important;
    .table-head th,
    .table-body td {
      text-align: center;
    }
  }
  .echartsKline {
    position: relative;
    padding: 20px;
  }
}