.echart-box {
    width: 100%;
    height: 100%;
  }
  .seriesData {
    position:absolute
    top: 35px;
    left: 10px;
    font-size: 12px;
    p {
      line-height: 20px;
      span {
        margin-right: 5px;
      }
      .ma5 {
        color: #F5CB89 ;
      }
      .ma10 {
        color: #5FCFBF;
      }
      .ma30 {
        color: #DD89F5;
      }
    }
  }