.korea-home-container {
  .korea-header {
    background-image linear-gradient(-179deg, #0046BB 0%, #083687 100%)
    background #083687
    padding-top 65px
    height 530px
    color #FFFFFF
    margin-top -65px

    .title {
      text-align center
      font-size 44px
      line-height 50px
      width 548px
      margin 85px auto 0
    }

    .subTitle {
      text-align center
      font-size 16px
      width 548px
      margin 10px auto 0
    }

    .count {
      text-align center
      width 240px
      margin 40px auto
      height 70px

      p {
        width 120px
        float left

        span {
          display block
          color #fff
          text-align center
        }

        .num {
          font-size 40px
          height 40px
          line-height 40px
          margin-bottom 14px
        }

        .name {
          font-size 16px
        }
      }
    }

    .button-box {
      text-align center

      .common-button {
        margin 0 10px
      }

      .loginBtn {
        background #00276A !important
      }
    }
  }

  .korea-header-bar {
    width 1180px
    margin 0 auto
    position relative
  }

  .gg {
    position absolute
    background rgba(255, 255, 255, 0.2)
    width 300px
    top 20px
    right -80px
    top 100px
    padding 30px 24px

    .gg-h {
      margin-bottom 20px

      .h4 {
        font-size 16px
        color #FAAD14
      }

      .more {
        float right
      }
    }

    .button {
      cursor pointer
    }

    .notice-item {
      margin-top 10px

      .dian {
        display inline-block
        width 4px
        height 4px
        vertical-align middle
        margin-right 5px
        background #EDF4F8
      }
    }

    a {
      color #EDF4F8
    }
  }

  .makter-content {
    width 1160px
    margin 0 auto
    height 360px
    padding-top 67px

    .Recommend-box {
      float left
      width 840px
      height 272px
    }

    .Market-box {
      width 320px
      float left
    }
  }
}