#bitWind-content .footer-left-block {
    position: absolute;
    left: 32px;
    top: 65px;
  }

  #bitWind-content .footer-left-block .f-logo {
    margin-bottom: 13px;
  }

  #bitWind-content .footer-left-block p {
    font-size: 12px;
    color: #828EA1;
    line-height: 24px;
  }

  .bitWind-footer-template {
    width: 70%;
    margin: 0 auto 0;
    padding-top: 65px;
  }

  .bitWind-footer-template .menu-ul-bitWind {
    width: 120px;
    float: left;
    margin: 0 8% 0 12%;
  }

  #bitWind-content .footer-right-block {
    position: absolute;
    right: 8px;
    width: 120px;
  }

  #bitWind-content .footer-right-block .tit {
    margin-bottom: 22px;
  }

  #bitWind-content .footer-right-block .foot-icon {
    margin-top: 10px;
  }

  #bitWind-content .footer-right-block .foot-icon span {
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
  }

  .footer-right-block .foot-icon .foot-icon-1 {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_Twitter_off.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-2 {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_telegram_off.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-3 {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_github_off.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-4 {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_wechat_off.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-1:hover {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_Twitter_on.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-2:hover {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_telegram_on.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-3:hover {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_github_on.png') no-repeat;
  }

  .footer-right-block .foot-icon .foot-icon-4:hover {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/7_icon_wechat_on.png') no-repeat;
  }

  #bitWind-content #bitWind-page .block-item7 {
    background: #001624;
  }

  .menu-ul-bitWind .tit {
    font-size: 12px;
    color: #828EA1;
    margin-bottom: 10px;
  }

  .menu-ul-bitWind .item {
    font-size: 12px;
    line-height: 30px;
  }

  .menu-ul-bitWind .item a {
    color: #FFFFFF;
  }

  .app-block-item7 .page-nav,
  .app-block-item7 .bitWind-recommend,
  .app-block-item7 .common-header {
    display: none;
  }

  .bitwind-page-app .common-header {
    position: fixed;
    background: none !important;
    border: none !important;
  }

  .bitwind-page-app .top-common-header .common-header-optionList .header-guide,
  .bitwind-page-app .top-common-header .common-header-optionList .header-user {
    border: none !important;
  }

  .bitwind-page-app .top-common-header .common-header-linkList .header-nav-ifl {
    display: none;
  }

  .bitwind-page-app .top-common-header .common-header-linkList .linkList-logo-li {
    margin-right: 26px;
  }

  .bitwind-page-app .top-common-header .common-header-optionList .header-lang {
    height: 32px;
    line-height: 32px;
    margin-top: 14px;
    border-color: #828EA1;
  }

  .bitwind-page-app .top-common-header .common-header-optionList .header-lang .lang-list {
    top: 32px;
  }

  #bitWind-content {
    position: relative;
    overflow: hidden;
  }

  #bitWind-page {
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: all 1000ms ease;
  }

  #bitWind-content .block-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #bitWind-content .block-item {
    position: relative;
    min-height: 800px;
    background-image: linear-gradient(180deg, #021723 0%, #102A39 100%);
  }

  #bitWind-content .block-item .block-title {
    font-size: 40px;
    line-height: 64px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 24px;
  }

  #bitWind-content .block-item .text {
    font-size: 16px;
    color: #828EA1;
    line-height: 30px;
  }

  #bitWind-content .block-item .b-x {
    width: 60px;
    height: 4px;
    background: #0993ED;
    margin-bottom: 24px;
  }

  #bitWind-content .block-item2,
  #bitWind-content .block-item5 {
    background: #fff;
  }

  #bitWind-content .block-item1 {
    text-align: center;
  }

  #bitWind-content .block-item1 .content-bg {
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/bg_banner1.png') no-repeat center 110%;
    background-size: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 60px;
  }

  #bitWind-content .block-item1 .block-content {
    height: 300px;
  }

  #bitWind-content .block-item1 .block-title {
    color: #fff;
    font-size: 44px;
    width: 1100px;
    margin: 0 auto;
  }

  #bitWind-content .block-item1 .market {
    margin: 20px auto 40px;
    font-size: 16px;
    width: 1100px;
  }

  #bitWind-content .blue-button {
    color: #fff;
    background: #24a0f5;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 30px;
  }

  #bitWind-content .blue-button span {
    padding-right: 40px;
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/1_arrow.png') no-repeat center right;

  }

  #bitWind-content .block-item2 .block-title {
    color: #344F5B;
  }

  #bitWind-content .block-item2 .block-content {
    text-align: center;
  }

  #bitWind-content .block-item2 .b-x {
    margin: 0 auto;
  }

  #bitWind-content .block-item2 .text {
    margin: 24px auto 0;
    width: 795px;
  }

  #bitWind-content .block-item2 .yl-img {
    position: relative;
    width: 1100px;
    margin: 90px auto 0;
  }

  #bitWind-content .block-item2 .yl-img img {
    width: 100%;
  }

  #bitWind-content .block-item2 .yl-img span {
    position: absolute;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: #344F5B;
  }

  #bitWind-content .block-item2 .yl-img .text-1 {
    top: 83px;
    left: -50px;
  }

  #bitWind-content .block-item2 .yl-img .text-2 {
    top: 216px;
    left: -50px;
  }

  #bitWind-content .block-item2 .yl-img .text-3 {
    top: 355px;
    left: -50px;
  }

  #bitWind-content .block-item2 .yl-img .text-4,
  #bitWind-content .block-item2 .yl-img .text-5,
  #bitWind-content .block-item2 .yl-img .text-6,
  #bitWind-content .block-item2 .yl-img .text-7,
  #bitWind-content .block-item2 .yl-img .text-8 {
    right: -50px;
  }

  #bitWind-content .block-item2 .yl-img .text-4 {
    top: 83px;
  }

  #bitWind-content .block-item2 .yl-img .text-5 {
    top: 216px;
  }

  #bitWind-content .block-item2 .yl-img .text-6 {
    top: 355px;
  }

  #bitWind-content .block-item3 .container-bar {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  #bitWind-content .block-item3 .s-img {
    width: 450px;
    float: left;
  }

  #bitWind-content .block-item3 .s-img img {
    width: 100%;
  }

  #bitWind-content .block-item3 .info {
    width: 500px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #bitWind-content .block-item4 .container-bar {
    width: 1100px;
    margin: 0 auto;
    position: relative;
  }

  #bitWind-content .block-item4 .s-img {
    width: 450px;
    float: right;
  }

  #bitWind-content .block-item4 .s-img img {
    width: 100%;
  }

  #bitWind-content .block-item4 .info {
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #bitWind-content .block-item5 .block-title {
    text-align: center;
    color: #344F5B;
  }

  #bitWind-content .block-item5 .b-x {
    margin: 0 auto;
  }

  #bitWind-content .product-list {
    width: 1100px;
    margin: 90px auto 0;
  }
  #bitWind-content .product-list ul {
    width: 1180px;
  }

  #bitWind-content .product-list li {
    width: 334px;
    margin-right: 50px;
    margin-left: 0;
    float: left;
    height: 180px;
  }

  #bitWind-content .product-list li .p-img {
    float: left;
  }

  #bitWind-content .product-list li .text-info {
    padding-left: 95px;
  }

  #bitWind-content .product-list li .text-info h4 {
    font-size: 20px;
    line-height: 30px;
    color: #344F5B;
    font-weight: bold;
  }

  #bitWind-content .product-list li .text-info P {
    font-size: 12px;
    color: #828EA1;
    margin-top: 10px;
    line-height: 20px;
  }

  #bitWind-content .block-item6 .block-title {
    text-align: center;
  }

  #bitWind-content .block-item6 .b-x {
    margin: 0 auto;
  }

  #bitWind-content .customer-list {
    width: 1100px;
    margin: 80px auto 0;
  }

  #bitWind-content .customer-list .item {
    width: 334px;
    height: 220px;
    padding-top: 60px;
    background: #001624;
    border-radius: 2px;
    text-align: center;
    float: left;
    margin: 0 15px;
  }

  #bitWind-content .customer-list .item h4 {
    font-size: 20px;
    color: #fff;
    margin: 28px 0 18px;
    font-weight: bold;
  }

  #bitWind-content .customer-list .item .text {
    width: 285px;
    margin: 0 auto;
    font-size: 12px;
    color: #828EA1;
    text-align: center;
    line-height: 24px;
  }

  #bitWind-content .block-item6 .content-bg {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 60px;
    background: url('http://chaindown-oss.oss-cn-hongkong.aliyuncs.com/static/bitWind/6_bg.png') no-repeat center bottom;
    background-size: 100%;
  }

  #bitWind-content .page-nav {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 70px;
  }

  #bitWind-content .page-ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around
  }

  #bitWind-content .nav-item {
    font-size: 14px;
    color: #828EA1;
    height: 80px;
    line-height: 80px;
    padding-left: 40px;
    cursor: pointer;
  }

  #bitWind-content .nav-item.active {
    color: #fff;
    border-left: 6px solid #0993ED;
    padding-left: 34px;
  }

  #bitWind-content .nav-item-2.active,
  #bitWind-content .nav-item-5.active {
    color: #344F5B;
  }

  @media screen and (max-width: 1500px) {
    #bitWind-content .page-nav {
      display: none;
    }
  }