.page-b2cAddressMent {
  .add-text{
    padding-top 16px
    padding-bottom 16px
    .text{
      float left
      word-break: break-all;
      width 80%
    }
    .icon-btn{
      float left
    }
  }
  .icon-btn {
    margin-left: 0 !important;
    margin-right: 5px;
    cursor: auto !important;
  }
  .withdraw-header {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.15rem;
    font-size: 0.14rem;
  }
  .addressBox {
    // padding: 28px 40px;
    padding: 0.2rem 0.15rem;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    position: relative;
    .addressBox-left {
      width:524px;
      &.autoW{
        width:auto;
      }
    }
    .addressBox-right {
      position: absolute;
      right: 20px;
      bottom: 42px;
    }
    .addressBox-select {
      width: 120px;
      float: left;
    }
    .addressBox-address {
      width: 380px;
      margin-left: 24px;
      float: left;
    }
    .addressBox-remarks,
    .addressBox-pages {
      width: 250px;
      float: left;
      margin: 0;
    }
    .addressBox-remarks{
      margin-top:14px;
    }
    .addressBox-pages {
      margin-left: 24px;
      .addressBox-page-icon {
        line-height: 28px;
        cursor: pointer;
        &:hover {
          .addressBox-page-market {
            display: block;
          }
        }
        .addressBox-page-market {
          display: none;
          position: absolute;
          top: 28px;
          width: 340px;
          padding: 20px;
          right: -5px;
          box-sizing: border-box;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 20px;
          z-index 99;
        }
      }
    }
  }
  .addressMent-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0 !important;
    }
  }
  .addressTag{
    .input_line_inp{
      padding-right 24px
    }
  }
}
// 国际版
.Int {
  .page-b2cAddressMent {
    width: 940px;
    margin: 0 auto;
    .addressBox {
      padding: 40px 0 40px 0;
      border: none;
    }
    .addressMent-table,
    .addressMent-header,
    .flowingWater-options {
      padding: 0;
    }
  }
}