.fiatdeal-center{
  width: 100%;
  .alertText{
    line-height 18px
  }
  .center-management-header{
    font-size: 14px;
    position: relative;
    float: left;
    width:100%;
    padding-left: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
  }
  .center-management-center{
    .center-header{
      width: 940px;
      float: left;
      padding: 40px 20px 0 20px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      .center-header-left{
        float: left;
        margin-bottom: 32px;
        .title{
          font-size: 14px;
        }
        .data-main{
          margin: 10px 0;
          font-size: 22px;
          span{
            font-size: 14px;
          }
        }
        .text{
          font-size: 14px;
        }
      }
      .center-header-right{
        float: right;
        width:420px;
        height:94px;
        position: relative;
        bottom: -6px;
        -moz-bottom: -6px;
      }
    }
    .center-main{
      float: left;
      width: 100%;
      .center-main-select {
        display: flex;
        .select {
          width: 120px;
          margin:30px 0 0 20px;
        }
      }
      .table-body td .icon-btn{
        margin-left: 0;
      }
    }
  }
  .merchants{
    width: 200px;
    display: flex;
    .merchants-left{
      flex-shrink:0;
      width: 30px;
      height:30px;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
      margin-top: 2px;
      span{
        position: absolute;
        width:30px;
        height:30px;
        top: 0;
        left: 0;
        z-index: 2;
        line-height: 30px;
        text-align: center;
      }
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
      }
      i.i{
        width:6px;
        height:6px;
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        z-index: 2;
        right: 0;
        bottom: 0;
      }
    }
    .merchants-right{
      font-size: 14px;
      p{
        line-height: 16px;
      }
      p:nth-of-type(2){
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
  .payments-ul{
    width:100%
    ul{
      float: right;
      li{
        float: right;
        width: 24px;
        height: 24px;
        margin-left: 10px;
        border-radius: 2px;
        img{
          width: 16px;
          height: 16px;
          margin: 4px;
        }
      }
    }
  }
  .table-head{
    padding:0;
    margin: 0 20px;
  }
  .select-pay{
    width: 680px !important;
    font-size: 12px !important;
  }
  .payTypeList{padding-top: 10px;}
  .payTypeList span{
    display:inline-block;
    height:24px;
    line-height:24px;
    cursor: pointer;
    margin-bottom: 10px;
    width:110px;
    overflow: hidden;
    text-align:center;
  }
}