.inter-recommend.inter-recommend-korea {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    .recommend-even {
      width: 360px;
      padding: 0 0;
      margin-right: 60px;
      box-sizing: border-box;
      float: left;
      position: relative;
      cursor: pointer;
      .bl {
        height: 70px;
        width: 1px;
        position: absolute;
        left: 0;
        top: 25px;
      }
      &:first-child{
        .bl {
          width: 0
        }
      }
    }
    .c-h {
      height: 98px;
    }
    .symbol {
      font-size: 16px;
      float: left;
      .b-cion {
        font-size: 30px;
        color: #31363E;
        margin-right: 2px;
      }
      p {
        font-size: 14px;
        color: #828EA1;
        margin-top: 10px;
      }
    }
    .f-right {
      float: right;
    }
    .price {
      font-size: 30px;
      color: #F04A73;
      text-align: right;
    }
    .volume {
      font-size: 12px;
      margin-top: 10px;
    }
    .rose {
      font-size: 18px;
      text-align: right;
      margin-top: 10px;
    }
    .kline {
      border: 1px solid #E2E9EF;
      height: 120px;
      padding-top: 30px;
    }
    .bz {
      padding-top: 10px;
      font-size: 12px;
      span {
        display: inline-block;
        background: #F04A73;
        height: 2px;
        width: 8px;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }