 .user-management-excc-auth{
  width:100%;
  .auth-select-type {
    .title {
      height: 0.4rem;
      line-height: 0.4rem;
      padding: 0 0.15rem;
      margin-top: 1px;
    }
  }
  .select-box {
    padding: 0.15rem;
    .select-block {
      padding: 1px .2rem 0.2rem .2rem;
      margin-bottom: .1rem;
      min-height: 1.85rem;
      .common-redio {
        float: right;
        margin: 0.15rem 0 0 0;
      }
      .img {
        margin-top: 0.30rem;
        img.imgExccAuthType1 {
          height: 0.7rem;
        }
        img.imgExccAuthType2 {
          width: 1.1rem;
        }
      }
      h4 {
        font-size: 0.16rem;
        margin-top: 0.12rem;
      }
      .text {
        margin-top: 0.12rem;
        line-height: 0.2rem;
      }
    }
  }
}