.notice-info {
    position: relative;
    .main-content {
      // width: 1180px;
      // margin: 40px auto 0;
    }
    .menu {
      width: 190px;
      // max-height: 860px;
      // float: left;
      .menu-tit {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 17px;
      }
      .menu-item {
        padding: 15px 25px 15px 20px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        user-select: none;
        border-radius: 2px;
      }
      .pagination {
        background: none !important;
        border: none !important;
      }
      .pagination-bar {
        border: none !important;
        line-height: 50px;
        .num {
          margin: 0;
        }
        .pagination-btn {
          height: 30px;
          width: 30px;
          line-height: 30px;
        }
      }
    }
    .content-box {
      // padding-left: 210px;
    }
    .content-text {
       padding: 0.2rem 0.15rem
      // min-height: 680px
      // padding: 40px 60px 60px;
      position: relative;
      border-radius: 2px;
      .content-title {
        font-size: 22px;
        font-weight: normal;
        line-height: 30px;
      }
      .time {
        width: 100px;
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
      }
      .main-text {
        margin-top: 30px;
        line-height: 24px;
        font-size: 14px;
      }
      .mmd-loading-circle-right, .mmd-loading-circle-left {
        border-color: #1baaec;
      }
    }
    //  页面动画
    .fade-enter-active, .fade-leave-active {
      transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 999;
      margin: -25px 0 0 -25px;
    }
  }