.set-up{
  width:100%;
  .user-management-child-header{
    font-size: 0.14rem;
    padding-left: 0.15rem;
    margin-top: 1px;
    line-height: 0.4rem;
    box-sizing: border-box;
  }
  .center{
    // width:380px;
    // margin:54px 300px;
    padding: 0 0.15rem;
    margin-top: 0.2rem;
  }
}