.manageDetail {
  font-size: 14px;
  .page-banner {
    height: 220px
  }
  .manageDetail-content {
    width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
    .detail-content{
      height:406px;
      .detailTop{
        padding: 0 20px;
        height:59px;
        line-height:59px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        .detailTopLeft{
          float:left;
          font-size:16px;
        }
        .detailTopright{
          float:right;
        }
      }
      .detailCon{
        padding:40px 60px 0;
        overflow: hidden;
        .detailConLeft{
          float:left;
          .detailConLL{
            float:left;
            .detailConLeftT{
              width :120px;
              float:left;
              font-size:42px;
              margin-bottom: 6px;
              .scale{
                font-size:16px;
                margin-left: 8px;
              }
            }
            .detailConLeftB{
              font-size:12px;
            }
          }
          .detailConLR{
            float:left;
            height: 60px;
            width: 200px;
            .positions{
              position: relative;
              height: 100%;
              border-left-width: 1px;
              border-left-style: solid;
              .deatilConRightB{
                position: absolute;
                left:14px;
                bottom:0px;
                .number{
                  font-size:24px;
                  display:inline-block;
                  margin-right:8px;
                }
                .days{
                  font-size:16px;
                  display:inline-block;
                  margin-right:10px;
                }
                .date{
                  font-size: 12px;
                  display:inline-block;
                }
              }
            }
          }
          .detailConLB{
            clear:both;
            margin-top:40px;
            overflow: hidden;
            .detailConLBL{
              float:left;
              margin-top:40px;
              line-height :34px;
              font-size:12px;
            }
            .detailConLBR{
              float:left;
              margin-top:40px;
              margin-left:20px;
              line-height :34px;
              font-size:14px;
            }
          }
        }
        .deatilConRight{
          float:right;
          width:380px;
          .deatilConRT{
            line-height:24px;
            overflow: hidden;
            .deatilConRTL{
              float:left;
              margin-right:12px;
              font-size:12px;
            }
            .deatilConRTM{
              float:left;
              font-size:14px;
            }
            .deatilConRTR{
              float:right;
              .goRechargeText{
                font-size:14px;
              }
            }
          }
          .deatilConRInput{
            margin-top:20px;
            .inputSymbol{
              line-height:30px;
            }
          }
          .deatilConRBot{
            margin-top:16px;
            overflow: hidden;
            .deatilConRBotT{
              float:left;
              font-size:12px;
              margin-right:12px;
            }
            .deatilConRBotB{
              float:left;
            }
          }
          .deatilConRButton{
            margin-top:40px;
          }
        }
      }
    }
    .contentBottom{
      padding:40px 20px 0;
      .qustions{
        margin-bottom:40px;
      }
      .listTitle{
        margin-bottom:10px;
        font-size:12px;
      }
      .listCon{
        font-size:12px;
        line-height:18px;
        margin-bottom:40px;
      }
    }
  }
  .main-content {
    width: 760px;
    min-height: 920px;
    padding: 0 20px;
    border-radius: 2px;
    float: left;
    .content-top {
      padding: 46px 0 50px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .img {
        width: 80px;
        height: 80px;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        padding-left: 100px;
      }
      .tit {
        font-size: 22px;
        line-height: 22px;
        font-weight: normal;
      }
      .info-text {
        margin-top: 24px;
        line-height: 22px;
        font-size: 14px;
      }
    }
    .main-text {
      line-height: 24px;
      padding-top: 34px;
      word-break:break-all;
      img {
        max-width: 100% !important;
        max-height: 100% !important;
      }
      p {
        word-break:break-all;
      }
    }
  }
  .base-info {
    width: 320px;
    padding: 20px 20px 40px;
    min-height: 883px;
    border-radius: 2px;
    float: right;
    .title {
      font-size: 16px;
      font-weight: normal;
    }
    .bf {
      font-size: 12px;
      width: 320px;
      margin: 40px 0;
      p {
        line-height: 12px;
      }
      .jdt {
        position: relative;
        height: 6px;
        width: 100%;
        margin: 9px 0px;
        overflow: hidden;
      }
      .jdt-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
      }
      .num {
        line-height: 14px;
      }
    }
    .infor-list {
      p {
        margin-bottom: 20px;
      }
      .key {
        font-size: 12px;
        margin-bottom: 8px;
      }
      .tsm {
        margin: 25px 0;
        padding: 15px 15px 1px 15px;
      }
      .vol {
        font-size: 12px;
        margin: 5px 0 28px;
        text-align: right;
      }
      .tt {
        margin: 10px 0 0;
        font-size: 12px;
        text-align: right;
        a {
          margin-left: 10px;
        }
      }
    }

  }
  .f-r {
    float: right;
  }
}