
.company-application-container {
  .company-application {
    text-align center
    width 1180px
    margin 30px auto 0

    .application-header {
      padding-top 60px
      padding-left 60px

      .title {
        font-size 22px
        margin-bottom 10px
      }

      .desc {
        font-size 12px
      }
    }

    .service-list {
      margin-top 30px

      .li {
        padding 37px 30px 70px 31px
        text-align left
        display inline-block
        vertical-align middle
        margin-right 20px
        width 189px
        height 193px

        &:nth-last-of-type(1) {
          margin-right 0
        }
      }

      .li-title {
        font-size 16px
        margin-bottom 12px
      }

      .li-desc {
        font-size 12px
        line-height 18px
      }

      .icon {
        height 80px
        width 70px
        display block
        line-height 80px
        text-align center
        font-size 72px
        margin-bottom 30px
      }
    }

    .relieve-btn {
      margin-left 10px
    }

    .application-region {
      margin-top 66px
      padding-bottom 63px

      .protocol {
        display inline-block
        vertical-align middle
        margin-left 9px
      }

      .common-checkout {
        vertical-align middle
      }

      .app-desc {
        font-size 12px
        margin-bottom 15px
      }

      .back-btn {
        padding 10px
        vertical-align bottom
        display inline-block

        &:nth-child(2) {
          margin-left 30px
        }
      }
    }

    .dialog-text {
      font-size 14px
      text-align left
    }

    .comBtn {
      vertical-align middle
    }
  }
}

.Int {
  .company-application-page.company-application-container {
    height 100%

    .company-application {
      margin 0
      width auto
      height 100%
    }
  }
}