.overview-chars {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  .overviewChars-header {
    line-height: 20px;
    padding: 18px 26px;
    .overviewChars-header-tit {
      float: left;
    }
    .overviewChars-header-text {
      float: right;
      font-size: 12px;
    }
  }
  .overviewChars-content {
    padding: 10px 26px;
    .overviewChars-content-left {
      float: left;
      width: 550px
    }
    .overviewChars-content-right {
      float: right;
    }
    .overviewChars-content-sumT {
      font-size: 12px;
    }
    .overviewChars-content-sumV {
      font-size: 32px;
      padding: 14px 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
    .overviewChars-content-mess {
      margin-top: 20px;
    }
    .overviewChars-content-messL {
      float: left;
      width: 200px;
    }
    .overviewChars-content-messR {
      float: right;
      width: 200px;
    }
    .overviewChars-content-messT {
      font-size: 12px;
    }
    .overviewChars-content-messV {
      font-size: 22px;
      margin-top: 8px;
      margin-bottom: 12px;
    }
    .overviewChars-content-messC {
      width: 200px;
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
      box-sizing: border-box;
      font-size: 12px;
    }
    .overviewChars-content-messCK {
      float: left
    }
    .overviewChars-content-messCV {
      float: right
    }
    .overviewChars-bar {
      width: 260px;
      height: 140px;
    }
    .overviewChars-content-rightT {
      width: 140px;
      text-align: center;
      font-size: 12px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
  .overviewChars-line {
    padding: 15px 26px;
  }
  .overviewChars-line-title {
    font-size: 12px;
    // margin-bottom: 10px;
  }
  .overviewChars-line-charts {
    height: 300px;
    width: 100%;
  }
}