.user-management-id-auth{
  width:100%;
  .upload1-right {
    background-size: auto 100%;
  }
  .user-management-child-header{
    font-size: 0.14rem;
    padding-left: 0.15rem;
    margin-top: 1px;
    line-height: 0.4rem;
    box-sizing: border-box;
  }
  .user-management-center i{
    width:14px;
  }
  .certification-process{
    position: relative;
    text-align: center;
    margin: 0.2rem 0;
  }
  .certification-process div p {
    line-height: 0.18rem;
    padding: 0 0.15rem;
  }
  .step-left{
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    font-size: 0.12rem
  }
  .step-center{
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 0.12rem;
  }
  .step-right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 0.12rem
  }
  .certification-process .div-line{
    width: 100%;
    position: absolute;
    left:0;
    top: 11px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 1;
  }
  .span-mark{
    float: left;
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 0.18rem;
    margin-right: 0.05rem;
  }
  .idAuth-center{
    float: left;
    width: 100%;
    padding: 0 0.15rem;
    box-sizing: border-box;
  }
  .upload1,.upload2,.upload3{
    float: left;
  }
  .upload1 div.upload1-left,.upload2 div.upload2-left,.upload3 div.upload2-left,
  .upload1 div.upload1-right,.upload2 div.upload2-right,.upload3 div.upload2-right{
    width: 1.65rem;
    height: 1.1rem;
    float: left;
    box-sizing: border-box;
    border-radius: 2px;
    background-size: auto 100%;
  }
  .upload1 div.upload1-left,.upload2 div.upload2-left,.upload3 div.upload2-left{
    border-width: 1px;
    border-style: dashed;
    margin-right: 0.15rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    svg{
      margin: 0px 68px 10px 68px;
    }
    p{
      font-size: 12px;
      text-align: center;
    }
    .mmd-loading-circle-right, .mmd-loading-circle-left {
      border-color: rgba(27,170,236,1);
    }
    .loading-Img{
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }
    .loading-img{
      width: 1.65rem;
      height: 1.1rem;
      margin: 0;
      top: 50%;
    }
    .loading-mc{
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
      div{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        opacity:0.7;
      }
    }
  }
  .upload2,.upload3{
    margin-top:20px;
  }
  .upload-text{
    float: left;
    font-size: 12px;
    line-height: 20px;
    margin-top:34px;
    margin-bottom:26px;
  }
  .upload_file{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor: pointer;
    z-index: 3;
  }
  .common-button-loading {
    position: absolute;
    vertical-align: middle;
    left: 50%;
    margin-left:-17px;
    top: 45px;
    transform: translateY(-50%);
  }
  .loading-text{
    margin-top:70px;
  }
  .audit-information{
    text-align: center;
    svg {
      margin: 80px 0 15px 0;
    }
  }
  .audit-information p{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}