.bind-phone{
    width:100%;
    .bindPhone-warn {
      font-size: 12px;
      line-height: 18px;
    }
    .user-management-child-header{
      font-size: 14px;
      padding:18px 0 18px 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-sizing: border-box;
    }
    .user-management-center{
      height:799px;
    }
    .user-management-center i{
    }
    .center-title{
      font-size: 12px;
      width:380px;
      margin:0 auto;
      padding:20px 0 54px 0;
    }
    .center-input{
      width:380px;
      margin:0 auto;
      padding-top: 70px;
    }
  }