 .broker {
    margin-top: -60px;
    .top-content {
      height: 359px;
      padding-top: 60px;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    .warp {
      width: 1180px;
      margin: 0 auto;
      .common-table {
        background: none !important;
        .lastTh div {
          margin-right: 10px;
        }
      }
    }
    .main-content{
      margin-top: 60px;
    }
    .user-tow{
      margin-top: 20px;
    }
    .page-title {
      margin-top: 70px;
      text-align: center;
      font-size: 32px;
      line-height: 32px;
    }
    .f_r {
      float: right;
    }
    .my-minning-pct {
      margin-top: 96px;
      .tit {
        font-size: 12px;
        line-height: 12px;
      }
      .num {
        font-size: 14px;
        line-height: 14px;
      }
      .pct-bar {
        margin: 10px 0;
        overflow: hidden;
        height: 12px;
        .pct {
          height: 12px;
          width: 50%;
        }
      }
    }
    .my-harvest {
      border-radius: 2px;
      height: 170px;
      .tit {
        font-size: 14px;
        color: #EDF4F8;
        padding: 16px 0 0 20px;
      }
      .sy-num {
        margin-top: 32px;
        padding-left: 40px;
        float: left;
        span {
          font-size: 32px;
          line-height: 32px;
          display: inline-block;
          margin-right: 5px;
        }
        b {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          margin-top: 10px;
        }
      }
      .tt-num {
        float: right;
        margin-top: 40px;
        font-size: 14px;
        line-height: 14px;
        .tt-i {
          float: left;
          padding: 0 40px;
          line-height: 30px;
          &:last-child {
            border-left-width: 1px;
            border-left-style: solid;
          }
          .t {
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
    .mining-data {
      margin-top: 20px;
    }
    .remark{
      padding-bottom: 42px;
      .content-master{
        padding-bottom: 12px;
      }
      .remark-list{
        padding: 0 20px;
        line-height: 22px;
        font-size: 12px;
        color: #828EA1;
        padding-bottom: 10px;
      }
    }
    .mining-tit {
      height: 54px;
      line-height: 51px;
      padding: 0 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .item {
        display: inline-block;
        font-size: 14px;
        margin-right: 50px;
        height: 51px;
        user-select: none;
        cursor: pointer;
        &.selected {
          border-bottom-width: 2px;
          border-bottom-style: solid;
        }
      }
      .search {
        float: right;
        line-height: 28px;
        margin-top: 14px;
        .common-button {
          float: left;
        }
      }
    }
    .content-master{
      padding: 20px 0 20px 20px;
    }
    .filter-box {
      height: 65px;
      padding: 25px 20px 0 20px;
      .common-select, .input-line-content {
        float: left;
        margin-right: 20px;
      }
    }
    .top-carp {
      margin-top: 68px;
      height: 150px;
      .carp-affilte,.carp-master {
        float: left;
        border-radius: 10px;
        width: 570px;
        height: 150px;
        position: relative;
        p:nth-child(1){
          position: absolute;
          left: 121px;
          top: 63px;
          font-size: 20px;
          font-family: Roboto-Medium;
        }
        p:nth-child(2){
          position: absolute;
          left: 121px;
          top: 97px;
          font-size: 16px;
          line-height: 24px;
          font-family: PingFangSC-Regular;
        }
      }
      .carp-affilte{
        p{
          color: #DFC38D;
        }
      }
      .carp-master{
          p {
            color: #222222;
          }
        }
      .carp-affilte {
        margin-right: 40px;
      }
    }
    .center{
      width: 940px;
      padding: 0 22px;
      position: relative;
      padding-bottom: 20px;
      .center-main{
        display: flex;
        margin-top: 22px;
        >div p:nth-child(1){
          font-size: 12px;
          line-height: 16px;
        }
        >div p:nth-child(2) {
           font-size: 16px;
            line-height: 22px;
            margin-top: 3px;
        }
        .main-right{
          margin-right: 100px;
        }
      }
      .invitation-way{
        width: 100%;
        margin-top: 30px;
        p:nth-of-type(1){
          font-size:12px;
          margin-bottom:10px;
        }
        .invitation-ways{
          display: flex;
          div{
            line-height: 56px;
            height:56px;
            svg:nth-of-type(1){
              margin:0 18px 0 12px;
              cursor:pointer;
            }
          }
          >div:nth-of-type(1){
            min-width 300px;
            height:56px;
            line-height: 56px;
            font-size: 12px;
            z-index: 2;
            padding-right: 10px;
            svg:nth-of-type(3){
              cursor:pointer;
            }
            .inviteQECode-show{
              position: relative;
              svg{
                margin: 0;
              }
            }
          }
        }
      }
      .center-bg{
        position: absolute;
        right:0;
        bottom: 0;
      }
    }
    .first-center{
      padding-bottom: 46px;
    }
    .center-img{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:999;
      background: rgba(0,0,0,.3);
      text-align: center;
      line-height: 100%;
      img{
        box-sizing: border-box;
        width: 500px;
        height: 500px;
        padding: 28px;
        background: rgba(66,83,115,.5)
        border-radius: 3px;
        position: relative;
        top: 50%;
        margin-top: -250px;
      }
    }
  }