.legal-tender-set {
  width: 100%;
  .li {
    overflow: hidden;
  }
  .user-management-child-header {
    font-size: 14px;
    // padding: 18px 0 18px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
  }

  .user-management-main {
    width: 100%;
    float: left;

    .user-management-main ul li {
      width: 100%;
      float: left;
    }

    .li-icon {
      float: left;
      margin: 14px 15px;
    }

    .li-div {
      float: left;
      width: calc(100% - 55px);
      height: 80px;
      box-sizing: border-box;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-size: 14px;
      position: relative;
    }

    .li-div:last-of-type(1) {
      border-bottom-style: none;
      border-bottom-width: 0px;
    }

    .li-div p:nth-of-type(1) {
      margin-top: 20px;
    }

    .li-divs {
      height: 0.5rem;
    }

    .li-divs p:nth-of-type(1) {
      // line-height: 24px;
    }

    .li-div p:nth-of-type(1).switchBottom, .li-div p:nth-of-type(1).switchBottomChecked {
      margin-top: 0;
    }

    .li-div p:nth-of-type(1).none {
      margin-top: 32px;
    }

    .li-text {
      font-size: 12px;
      position: absolute;
      top: 0.5rem;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical
    }

    .li-div-child {
      margin-left: 64px;
      .li-title {
        margin-top: 15px !important;
      }
      .li-right {
        padding-top: 0.3rem;
        padding-right: 0.2rem;
      }
    }

    .li-title {
      float: left;
    }

    .li-title img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 10px;
    }

    .li-fun {
      float: right;
      font-size: 12px;
      cursor: pointer;
    }

    .li-right {
      // position: absolute;
      // top:32px;
      // right:21px;
      // height: 100%;
      padding-top: 0.15rem;
      float: right;

      .switchWrap {
        float: right;
        top: 3px;
        margin: 0 6px;
      }

      .common-button {
        top: -5px;
      }

      .user-button {
        font-size: 12px;
        float: right;
      }
    }
  }

  .alertTitle {
    margin-bottom: 15px;
  }

  .alertText {
    width: 285px;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 18px;
  }

  .alertError {
    height: 36px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 36px;

    .alertError-text {
      font-size: 12px;
    }

    .alertError-icon {
      float: right;
      margin-top: 12px;
    }
  }

  .alertBot {
    margin-bottom: 10px;
  }
}