.inter-tableContentBase.korea-marker-container {
  position: relative;
  .home-table {
    min-width: 320px;
  }
  .home-table .home-tbody .home-tbody-list {
    :hover {
      background: #F9FBFF;
    }
  }
  .home-table .home-tbody .home-tbody-list .home-tbody-li {
    padding: 0;
    height: 50px;
    border-color: #E2E9EF;
  }
  .home-table .home-tbody .home-tbody-list .home-tbody-li .even {
    width: 30%
    line-height: 49px;
    padding: 0;
  }
  .home-table .home-tbody .home-tbody-list .home-tbody-li .newPrice {
    width: 40%;
    padding: 0;
  }
  .home-table .home-tbody .home-tbody-list .home-tbody-li p {
    line-height: 24px;
    display: inline-block;
  }
  .home-table .home-tbody .home-tbody-list .home-tbody-li .even .rose-label {
    background: none !important
    width: auto;
  }
  .tit {
    font-size: 26px;
    color: #31363E;
    margin-bottom: 18px;
  }


}