.setMarginCoin {  
  .category-select-box {
    width: 100%;
    display: flex;
    border-radius: 2px;
    margin-bottom: 15px;
    .tab {
      flex: 1;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
  }
  .form-info {
    margin-bottom: 20px;
    .info-item {
      line-height: 18px;
      margin-bottom: 1px;
      display: flex;
      box-sizing: border-box;
      font-size: 12px;
      .radio {
        line-height: 50px;
        text-align: center;
        span {
          margin-right: 36px;
          cursor: pointer;
        }
      }
      p {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
      }
      .text1 {
        max-width: 120px; 
      }
      .text2 {
        text-align: right;
        border-left-width: 1px;
        border-left-style: solid;
        padding-right: 10px;
      }
    }
  }
  .inp-marginCoin {
    margin-right: 5px;
  }
}
.setMargin-dialog .dialog-frame {
  width: 580px !important;
  }
.setMargin-dialog .dialog-frame-body {
  width: 500px !important;
}