.user-management-change-email{
  width:100%;
  .user-management-child-header{
    width:100%;
    font-size: 0.14rem;
    line-height: 0.4rem;
    padding-left: 0.15rem;
    box-sizing: border-box;
  }
  .user-management-center{
    padding: 0 0.15rem;
  }
  .user-management-center i{
    width:14px;
    height:16px;
  }
  .center-title{
    font-size: 12px;
    margin: 0.2rem 0;
    svg {
      margin-right:10px;
    }
  }
  .center-input{
    margin:0 auto;
  }
}