#app.bitwind-page-app {
    height: 100%;
    width: 100%;
  }
  .bitwind-page-app #footer-box {
    display: none;
  }
  .bitwind-page-app .page-content {
    height: 100%;
    width: 100%;
    position: relative;
  }