.coAccount-coh5Head {
  .coAccount-header {
    overflow hidden;
    width: 100%;
    height: 140px;
    padding: 0.15rem;
    box-sizing: border-box;
    // padding: 40px 30px 20px 30px;
    box-sizing: border-box;
    .options {
      display: inline-block;
      margin-top: 0.2rem;
      cursor: pointer;
      font-size: 0.14rem
    }
    .quota {
      float: left;
      .title {
        font-size: 0.12rem;
        line-height: 0.16rem;
      }
      .number {
        margin-top: 0.10rem;
        font-size: 0.2rem;
        letter-spacing: 0;
        line-height: 0.2rem;
      }
      .Company {
        font-size: 0.14rem;
        // margin-left: 2px;
      }
      .Legal {
        font-size: 0.12rem;
        margin-top: 0.10rem;
      }
    }
    .cohead-list {
      float: left;
      margin-left: 0.1rem;
      padding-left: 0.1rem;
      border-left-width: 1px;
      border-left-style: solid;
      li {
        margin-top: 0.1rem;
        &:first-child {
          margin: 0;
        }
      }
      .key {
        font-size: 0.12rem;
        line-height: 0.14rem;
      }
      .value {
        font-size: 0.14rem;
        line-height: 0.16rem;
        margin-top: 0.04rem;
      }
    }
  }
  .transfer-box {
    padding-top: 10px;
    padding-bottom: 16px;
    .transfer-content {
      // width: 400px;
      height: 70px;
      margin-bottom: 23px;
      user-select: none;
      display: flex;
      justify-content: space-between;
      padding: 0 0.15rem;
      li {
        float: left;
      }
      .transfer-page {
        // width: 160px;
        // padding-left: 15px;
        height: 70px;
      }
      .transfer-page-side {
        font-size: 12px;
        line-height: 16px;
        margin-top: 13px;
      }
      .transfer-page-name {
        margin-top: 5px;
        font-size: 14px;
      }
      .transfer-icon {
        // width: 50px;
        height: 70px;
        line-height: 85px;
        text-align: center;
        .icon { cursor: pointer }
      }
    }
  }
  .coAccount-header-bg {
      background-image: linear-gradient(-269deg, #0491ce 0%, #00aeb6 100%);
    }
  .coAccount-header {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
  }
}