 .co-currentSymbol {
    height: 0.54rem;
    overflow: hidden;
    margin: 1px 0;
    .symbol-total {
      float: left;
      border-right-width: 1px;
      border-right-style: solid;
      padding: 0 0.15rem 0 0.15rem;
      margin-top: 0.1rem;
      line-height: 0.18rem;
      span {
        vertical-align: middle;
      }
      .symbol-name {
        font-size: 18px;
      }
      .symbol-number {
        font-size: 16px;
        margin-left: 5px;
      }
      .symbol-property {
        font-size: 12px;
        display: block;
      }
    }
    .symbol-info {
      float: right;
      padding: 0.12rem 0.15rem 0 0;
      .info-item {
        float: left;
        margin-left: 0.2rem;
        font-size: 12px;
        text-align: right;
        span  {
          display: block;

        }
        .vla {
          margin-bottom: 0.08rem;
        }
      }
    }
  }