
.page-mobilityTrade {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  padding: 20px;
  width: 100%;
  float: left;
  box-sizing: border-box;

  .mobility-content-inputValue {
    // margin-top: 40px;
    width: 100%;
    position: relative;

    .mobility-tradeType {
      font-size: 12px;
      position: absolute;
      z-index: 4;
      top: 2px;
    }

    .mobility-tradeType-even {
      cursor: pointer !important;
    }

    .mobility-tradeType-line {
      margin: 0 5px;
    }

    .inputCoin {
      line-height: 30px;
      font-size: 12px;
      vertical-align: middle;
    }

    .btnAll {
      vertical-align: middle;
    }
  }

  .page-mobilityTrade-options {
    width: 100%;

    .options-select {
      // float: left;
    }

    .options-input {
      // float: left;
      // margin-left: 20px;
    }

    .inputCoin {
      line-height: 30px;
      font-size: 12px;
    }
  }
}
