.broker-customer {
  height: 160px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  padding: 18px 26px;
  box-sizing: border-box;
  .broker-customer-header {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 18px;
  }
  .broker-customer-sum {
    float: left
    
    .broker-customer-sumV {
      line-height: 45px;
      font-size: 32px;
    }
    .broker-customer-sumK {
      margin-top: 2px;
      font-size: 12px;
    }
  }
  .broker-customer-mess {
    float: left;
    margin-left: 30px;
    .broker-customer-even {
      width: 176px;
      line-height: 30px;
      height: 30px;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 12px;
      margin-bottom: 10px;
      .broker-customer-evenK {
        float: left;
      }
      .broker-customer-evenV {
        float: right;
      }
    }
  }
  .broker-customer-sort {
    float: left;
    margin-left: 84px;
    height: 74px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 50px;
    .broker-customer-sortev {
      float: left
    }
    .broker-customer-sortevV {
      line-height: 45px;
      font-size: 22px;
    }
    .broker-customer-sortevK {
      margin-top: 2px;
      font-size: 12px;
    }
  }
}