.page-flowingWater {
  .nav {
    padding: 0.1rem 0.15rem;
  }
  .flowingWater-nav {
    height: 0.55rem;
    border-bottom-width: 0.01rem;
    border-bottom-style: solid;
    padding-left: 0.32rem;
  }
  .flowingWater-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.15rem;
    .common-select {
      display: inline-block;
      margin-right: 0.3rem;
    }
  }
  .flowingWater-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.2rem;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}