 .percentage-mag {
    margin-top 20px;
  }
  .risk-bar {
    -ms-flex: 1;
    flex: 1;
    background: linear-gradient(90deg,#04BC8B,#EB4D5C);
    position: relative
  }
  .risk-Percentage {
      margin-top: 30px;
      width: 100%;
      height: 15px;
      display: -ms-flexbox;
      display: flex
      position: relative;
  }
  .warning_icon {
    top: 9px;
    position: absolute;
    right: 10px;
  }
  .gg_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 15px;
    font-size: 16px;
    color: $white-color;
    text-shadow: 1px 1px 2px #333333;
  }
  .percentage_bar {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    height: 15px;
  }
  .risk-num {
    position: absolute;
    z-index: 9;
    left: 0;
    padding-left: 7px;
    top: 0px;
    height: 15px;
    line-height: 14px;
    border-left: 3px solid #fff;
    font-size: 14px;
    &.transition {
      transition: all .3s linear;
    }
    span {
      position: absolute;
      top: -20px;
      left: -10px;
    }
  }
  .transaction-drag {
    position: relative;
    width: calc(100% - 15px);
    margin-top: 25px;
    height: 40px;
  }
  .drag-def,
  .drag-cover {
    position: absolute;
    display: block;
    height: 4px;
    top: 3px;
    left: 4px;
  }
  .drag-def {
    width: 100%;
  }
  .drag-cover {
    background: #ff00ff;
  }
  .drag-turnColor {
    background: red;
  }
  .drag-step {
    position: absolute;
    // background: #24a0f5;
    left: 0%;
    display: block;
    top: -3px;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index:5;
    &.transition {
      transition: all .2s ease;
    }
    .icon_h {
      display: block;
      height: 8px;
      width: 3px;
      margin: 3px 0 0 5px;
      background: none;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }
  .transaction-drag i {
    // background: #293448;
    position: absolute;
    top: 1px;
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    z-index: 4;
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
  }
  .transaction-drag i.selected {
    background: $input-focus-border
  }
  .transaction-drag i.drag-step0 {
    left: calc(25% + 4px);
  }
  .drag-step-wrap {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .mark {
    display: inline-block;
    width: 30px;
    text-align: center;
    left: -10px;
    top: 20px;
    position: absolute
    user-select: none;
  }
  .no-drop {
    .transaction-drag i,
    .drag-step.transition {
      cursor: no-drop;
    }
  }