.page-leverAccount {
  position: relative;
  width: 100%;
  height: 100%;
  .table-body-bar {
    .coinBox {
      display: inline-block;
      height: 55px;
      position: relative;
      margin-left: 0!important;
      width: 58px;
      .coinIcon {
        position: absolute;
        height: 55px;
        // padding-top: 5px;
        width: 100%;
        top: 1px;
        img {
          position: absolute;
          top: 9px;
          width: 36px;
          height: 36px;
        }
      }
    }
    tr:last-child {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
  .switchWrap {display: inline-block;}
  .leverAccount-header {
    width: 100%;
    height: 140px;
    padding: 20px;
    box-sizing: border-box;
    .canvasBox {
      width: 100px;
      height: 100px;
      float: left;
    }
    .assetsSum {
      float: left;
      margin-left: 20px;
      .text {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 12px;
        margin-top: 12px;
        opacity: 0.6
      }
      .num {
        margin-top: 12px;
        font-size: 32px;
        letter-spacing: 0;
        line-height: 28px;
        span {
          font-size: 14px;
          line-height: 12px;
          margin-left: 3px;
          opacity: 0.6
        }
      }
      .fnum {
        margin-top: 10px;
        opacity: 0.6;
        font-size: 14px;
      }
      .conversion {
        margin-top: 12px;
        font-size: 14px;
        line-height: 12px;
        opacity: 0.6
      }
    }
    .colorList {
      float: left;
      width: 240px;
      margin-left: 40px;
      margin-top: 10px;
      li {
        float: left;
        width: 80px;
        font-size: 12px;
        margin-top: 20px;
        line-height: 14px;
        span {
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
    }
  }
  .leverAccount-body {
    border-top-width: 10px;
    border-top-style: solid;
  }
  .leverAccount-title {
    height: 55px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0 20px;
    vertical-align: middle;
    .text {
      float: left;
      vertical-align: middle;
      display: inline-block;
      line-height: 55px;
      font-size: 14px;
    }
    .hide {
      float: left;
      vertical-align: middle;
      display: inline-block;
      margin-left: 15px;
      line-height: 55px;
      .hodetext {
        margin-left: 8px;
        font-size: 12px;
      }
    }
    .find {
      float: right;
      vertical-align: middle;
      display: inline-block;
      .findClass {
        margin-top: 13px;
      }
    }
  }
  .leverAccount-center {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar {
      padding: 0!important;
    }
  }
  .leverAccount-header-bg {
      background-image: linear-gradient(-269deg, #378dea 0%, #59a0db 100%);
    }
  .leverAccount-header {
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
  }
}
// 国际版
.Int {
  .page-leverAccount {
    .leverAccount-header {
      width: 940px;
      margin: 0 auto;
      height: 140px;
      padding: 20px 0;
    }
    .leverAccount-title {
      padding: 0;
    }
    .leverAccount-body {
      border: none;
      width: 940px;
      margin: 0 auto;
      padding: 40px 0 0 0;
      .leverAccount-center {
        padding: 0;
      }
    }
  }
}