.advertising-management{
  width:100%;
  .advertising-management-header{
    font-size: 14px;
    position: relative;
    float: left;
    width:100%;
    padding-left: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
  }
  .advertising-management-center{
    width:100%;
  }
  .dialog-p{
    font-size: 14px;
    padding: 40px 0;
  }
  .banned-click{
      cursor: default !important;
      :hover{
        background: none !important;
      }
  }
}
// 国际版
.Int {
  .advertising-management .advertising-management-header{
    padding-left: 0;
  }
  .advertising-management .table-head {
    padding-left: 0;
  }
}