.user-management-bind-google{
  width:100%;
  .center-two-ewm {
    position relative;
    overflow: hidden;
    input {
      position: absolute;
      opacity: 0;
      left: -1000px;
      top: -1000px;
    }
  }
  .user-management-child-header{
    font-size: 0.14rem;
    padding-left: 0.15rem;
    line-height: 0.4rem;
    margin-top: 1px;
    box-sizing: border-box;
  }
  .user-management-center {
    padding: 0.15rem;
  }
  .user-management-center i{
    width:14px;
    height:16px;
  }
  .center-title{
    font-size: 12px;
    margin:0.2rem auto;
  }
  .center-one{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0.2rem;
  }
  .center-one-title{
    font-size: 14px;
    line-height: 20px;
  }
  .center-one-title span{
    width:18px;
    height:18px;
    line-height:18px;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right:11px;
  }
  .center-two{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0.2rem 0;
    svg{
      float: right;
      margin-top 5px;
      cursor: pointer;
    }
  }
  .center-two-title{
    font-size: 14px;
    line-height: 20px;
  }
  .center-two-title span{
    width:18px;
    height:18px;
    line-height:18px;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right:11px;
  }
  .center-two img{
    width: 0.8rem;
    height: 0.8rem;
  }
  .center-two div p{
    width:230px;
    height:22px;
    float: right;
    padding:9px 13px 9px 10px;
    line-height: 22px;
  }
  .center-three{
    padding: 0.2rem 0;
  }
  .center-three-title{
    font-size: 14px;
    line-height: 20px;
  }
  .center-three-title span{
    width:18px;
    height:18px;
    line-height:18px;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right:11px;
  }
  .center-three-y-title{
    display: flex;
    svg {
      margin-right 10px;
    }
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0.2rem;
    line-height: 18px;
  }
  .center-three-y-title i{
    float: left;
    width:14px;
    height:12px;
    margin: 0 10px 20px 28px;
  }
  .center-text{
    font-size: 12px;
    line-height: 18px;
    margin:15px 0 14px 0;
  }
  .center-input{
    margin:0 auto;
  }
  .center-one-button-box {
    display: flex;
    justify-content: space-between;
  }
  .center-one-button{
    font-size: 0.12rem;
  }
    .user-management-child-header .user-button{
      position: inherit;
    }
  }