.otcDetailOrder-message.otcDetailOrder-message-container {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    .otcDetailOrder-title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    .otcDetailOrder-keys {
      float: left;
      li {
        line-height: 20px;
        margin-top: 20px;
        font-size: 14px;
        height: 20px;
      }
    }
    .otcDetailOrder-values {
      float: left;
      margin-left: 44px;
      .identification-icon{
        margin-left 15px
        .identifi-icon-hover{
          display none
        }
        .identifi-icon{
          display inline-block
        }
        &:hover{
          .identifi-icon{
            display none
          }
          .identifi-icon-hover{
            display inline-block
          }
        }
      }
      li {
        line-height: 20px;
        font-size: 14px;
        margin-top: 20px;
        max-width: 500px;
        min-height 20px
        word-wrap: break-word;
      }
    }
  }