.depositMode-box {
  padding: 0 50px;
  .category-select-box {
    width: 100%;
    display: flex;
    border-radius: 2px;
    margin-bottom: 15px;
    .tab {
      flex: 1;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
  }
  .text {
    line-height: 20px;
    padding: 20px 0;
  }
}
.depositModeDialog .dialog-frame {
  width: 510px;
  .dialog-frame-body {
    width: 420px
  }
}