.transfer-loadingBox {
  height: 261px;
  width: 400px;
  position: relative;
  .transfer-loading {
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate3d(-50%, -50%, -50%);
  }
}
.transfer-box {
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 16px;
  .transfer-mess {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-left: 15px;
    .even {
      float: left;
      height: 70px;
      line-height: 70px;
    }
    .key {
      margin-left: 8px;
      margin-right: 28px;
      cursor: pointer;
      font-size: 14px;
      user-select: none;
    }
  }
  .transfer-content {
    height: 70px;
    margin-bottom: 23px;
    user-select: none;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.15rem;
    b
    li {
      float: left;
    }
    .transfer-page {
      // width: 160px;
      // padding-left: 15px;
      height: 70px;
    }
    .transfer-page-side {
      font-size: 12px;
      line-height: 16px;
      margin-top: 13px;
    }
    .transfer-page-name {
      margin-top: 5px;
      font-size: 14px;
    }
    .transfer-icon {
      // width: 50px;
      height: 70px;
      line-height: 85px;
      text-align: center;
      .icon { cursor: pointer }
    }
  }
}