.page-b2cFlowingWater {
  .flowingWater-nav {
    padding: .1rem .15rem;
  }
  .flowingWater-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 .15rem;
    margin-top: 0.1rem;
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .flowingWater-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}