.page-exchangeOrder {
  .exchangeOrder-nav {
    height: 40px;
    margin-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding: 0 15px;
  }
  .exchangeOrder-nav-switchs {
    // position: absolute;
    // right: 15px;
    // top: 13px;
    margin: 0.15rem;
    display: flex;
    justify-content: space-between;
    .switchWrap {
      display: inline-block;
      vertical-align: middle;
    }
    .text {
      font-size: 12px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
  .exchangeOrder-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-top: 14px;
    .common-select {
      display: inline-block;
      margin-right: 0.15rem;
    }
    .last-select {
      margin-right: 0;
    }
  }
  .exchangeOrder-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}