.main{
    width:1180px;
    min-height: 800px;
    margin:0 auto;
    margin-top: 30px;
    padding-left: 200px;
    box-sizing: border-box;
    position: relative;
  }
  .margin-left{
    width:190px;
    position: absolute;
    height: 100%;
    left: 0;
  }
  .margin-left .title{
    font-size: 16px;
    margin:20px 0 20px 20px;
  }
  .margin-right{
    width:980px;
    min-height: 800px;
  }
  // 国际化
  .Int {
    .main {
      margin: 0;
      height: 100%;
      width: auto;
      padding-left: 195px;
    }
    .otc-page-title  {
      height: 80px;
      line-height: 80px;
      margin-bottom: 5px;
      .page-title-bar {
        width: 940px;
        margin: 0 auto;
        font-size: 16px;
      }
    }
    .margin-right {
      height: calc(100% - 85px);
      width: auto;
    }
    .fiatdeal-center {
      height: 100%;
      width: 940px;
      margin: 0 auto;
    }
    .center-management-center .center-header {
      padding: 40px 0 0;
    }
    .center-management-center .center-main .center-main-select .select {
      margin: 30px 20px 0 0;
    }
    .fiatdeal-center .table-head {
      margin: 0;
    }
    .table-body-bar {
      padding: 0;
    }
    .center-management-header {
      padding-left: 0;
    }
  }