.broker-view {
    // margin-top: -60px
    .top-content {
      // height: 299px;
      // padding-top: 60px;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    .warp {
      // width: 1180px;
      // margin: 0 auto;
      .common-table {
        background: none !important;
        .lastTh div {
          margin-right: 10px;
        }
      }
    }
    .page-title {
      text-align: center;
      font-size: 32px;
      line-height: 32px;
    }
    .f_r {
      float: right;
    }
    .my-minning-pct {
      .tit {
        font-size: 12px;
        line-height: 12px;
      }
      .num {
        font-size: 14px;
        line-height: 14px;
      }
      .pct-bar {
        margin: 10px 0;
        overflow: hidden;
        height: 12px;
        .pct {
          height: 12px;
          width: 50%;
        }
      }
    }
    .wk-info {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 0.15rem;
      .item-box-left {
      }
      .item-box {
        .name {
          font-size: 0.14rem;
          .dy {
            font-size: 0.12rem;
          }
        }
        .txt {
          font-size: 0.12rem;
          margin-top: 0.1rem;
          text-align: end;
        }
      }
    }
    .my-harvest {
      border-radius: 2px;
      height: 170px;
      .tit {
        font-size: 14px;
        color: #EDF4F8;
        padding: 16px 0 0 20px;
      }
      .sy-num {
        margin-top: 32px;
        padding-left: 40px;
        float: left;
        span {
          font-size: 32px;
          line-height: 32px;
          display: inline-block;
          margin-right: 5px;
        }
        b {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          margin-top: 10px;
        }
      }
      .tt-num {
        float: right;
        // margin-top: 40px;
        font-size: 14px;
        line-height: 14px;
        .tt-i {
          float: left;
          padding: 0 40px;
          line-height: 30px;
          &:last-child {
            border-left-width: 1px;
            border-left-style: solid;
          }
          .t {
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
    .mining-data {
      // margin-top: 40px;
    }
    .mining-tit {
      height: 54px;
      line-height: 51px;
      padding: 0 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .viewTit {
        float: left;
        em {
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .search {
        float: right;
        line-height: 28px;
        margin-top: 14px;
        .common-button {
          float: left;
        }
      }
    }
    .filter-box {
      // height: 65px;
      // padding: 25px 20px 0 20px;
      padding: 0.2rem 0.15rem;
      display: flex;
      justify-content: space-between;
    }
    .table-box {
      padding: 0rem 0.15rem;
    }
  }