.trade-market-index-container {
  .a-4-bg {
    background-color #fff
  }
  .__rail-is-vertical, .__bar-is-vertical {
    background-color: #fff !important;
  }
  .__rail-is-horizontal, .__bar-is-horizontal {
    background-color: #fff !important;
  }
  &.trade-market {
    font-size 12px
    height 100%

    .market-header {
      position relative
      height 40px
      padding-left 12px
      padding-right: 12px
      margin-bottom 18px
    }

    .search {
      position relative
      height 28px

      .icon-serach {
        display none
        position absolute
        left 10px
        top 8px
        cursor pointer
      }

      input::-webkit-input-placeholder {
        color #515A6B
      }
    }

    .kg {
      position absolute
      top 10px
      right 15px
      font-size 16px
    }

    .market-title-bar {
      position relative
      width 100%
      overflow hidden

      .hover_hide {
        display block
      }

      .hover_show {
        display none
      }

      .slide-btn {
        position absolute
        top 13px
        z-index 9
        cursor pointer
        display none

        &:hover {
          .hover_show {
            display block
          }

          .hover_hide {
            display none
          }
        }
      }

      .slide-btn-cur {
        display block
      }

      .icon-left {
        left 0
        padding-right 5px
      }

      .icon-right {
        right 0
        padding-left 5px
      }
    }

    .market-title {
      height 40px
      overflow hidden
      width max-content
      white-space nowrap
      display flex
      padding-left 12px
      padding-right 12px

      position relative
      top 0
      left 0
      transiton left 0.2s linear
      -webkit-transition left 0.2s linear

      li {
        cursor pointer
        font-size 14px
        font-weight 600
        color RGB(167, 180, 203)
        height 40px
        line-height 40px
        text-align center
        border-radius 10px
        padding-left 10px
        padding-right 10px
        &:hover, &.selected {
          background-color rgba(167, 180, 203, .2)
          color #16161F !important
        }
      }
    }

    .market-symbol {
      height calc(100% - 58px)
      .thead {
        height 27px
        line-height 27px
        background-color rgba(228, 228, 228, .25)
        padding 0 15px
        margin-bottom 5px

        span {
          display inline-block
          height 30px
          overflow hidden
        }
      }

      .tbody {
        padding 0 0 5px 0
        height calc(100% - 32px) !important

        .block-title {
          height 29px
          line-height 29px
          padding-left 15px
          font-size 12px
          border-bottom-style solid
          border-bottom-width 1px
        }

        .symbol-item {
          padding 0 15px
          height: 53px;
          line-height 53px
          cursor pointer
          position relative
          border-bottom: 1px solid rgba(167, 180, 203, .2);
          .bg {
            display none
          }

          &:hover {
            .bg {
              display block
              position absolute
              top 0
              left 0
              height 100%
              width 100%
            }
          }

          span {
            display block
            line-height 31px
            position relative

            .iconMy {
              position absolute
              top 0px
              left 0
              display inline-block
              vertical-align middle
              width 15px
              height 15px
              float left

              svg {
                margin 0
              }
            }

            .hover_show {
              display none
            }

            &:hover {
              .hover_show {
                display inline-block
              }

              .hover_hide {
                display none
              }
            }
          }
        }
      }

      .td-symbol {
        width 85px
        position relative
        padding-left 20px
      }

      .td-price {
        width 90px
        user-select none
        text-align right
        cursor pointer
      }

      .td-rose {
        user-select none
        width 70px
        text-align right
        cursor pointer
      }

      .sorte {
        display inline-block
        float right
        width 14px
        height 14px
        margin-top 9px

        .icon {
          vertical-align top
        }

        i {
          display inline-block
          width 8px
          height 8px
          position absolute
          left 0
          line-height 6px
          overflow hidden

          em {
            position absolute
            top 0
            right 0
            transition all 0.3s ease-in-out
            display block
            border-width 4px
            border-style solid dashed dashed
            border-color #828ea1 transparent transparent
            font-size 0
            line-height 0
            transform rotate(180deg)
          }

          &.icon-triangle-up {
            bottom 0

            em {
              transform rotate(0deg)
            }
          }
        }

        &.selected {
          .cur {
            em {
              border-color #EDF4F8 transparent transparent
            }
          }
        }
      }
    }

    .table-head {
      padding 0 15px
      overflow hidden
    }

    .table-body {
      padding 5px 0

      .table-body-bar {
        padding 0
      }

      tr {
        border none
        cursor pointer

        .store {
          margin 0 7px 0 0
        }

        td {
          overflow hidden
          padding 0 15px

          &:nth-child(2) {
            padding 0 10px 0 0
          }
        }
      }
    }
  }
  &.lever-market {
    .market-symbol {
      .tbody {
        height 855px
      }
    }
  }
}



left-block-shrink() {
  .trade-market {
    width 100px

    .search-input {
      display none
    }

    .icon-serach {
      display block
      left 0
    }

    .table-head {
      th {
        &:first-child {
          text-align center
        }

        &:nth-child(2), &:nth-child(3) {
          display none
        }
      }
    }

    .table-body {
      tr {
        td {
          &:first-child {
            padding 0
            text-align center
          }

          .store, &:nth-child(2), &:nth-child(3) {
            display none
          }
        }
      }
    }

    .market-title {
      width 100%

      li {
        display none

        &.selected {
          display block
          float none
          width 100%
          border none
          padding 0
          font-size 14px
          text-align center
        }
      }
    }

    .market-title-box {
      .slide-btn {
        display none
      }
    }

    .market-symbol {
      .thead {
        padding 0

        span {
          text-align center
          padding 0
          width 100%

          &.td-price {
            display none
          }

          &.td-rose {
            display none
          }
        }
      }

      .tbody {
        padding 0 0 5px 0

        .block-title {
          padding 0
          text-align center
        }

        .symbol-item {
          padding 0

          span {
            text-align center
            width 100%
            padding 0

            .icon, &.td-price {
              display none
            }

            &.td-rose {
              display none
            }
          }
        }
      }
    }
  }

  // 杠杆样式
  .lever-market {
    .market-symbol {
      .tbody {
        .symbol-item {
          text-align center

          span {
            width 60%
          }

          .multiple {
            width auto
          }
        }
      }
    }
  }
}

.not-data {
  text-align center
  padding-top 80px

  p {
    margin-top 5px
  }

  .icon {
    font-size 36px
  }
}

.left-shrinks {
  left-block-shrink()
}

// 国际化
.Int {
  .trade-market-index-container {
    &.trade-market, .market-symbol {
      height 100%
    }

    &.trade-market .market-symbol .tbody {
      height calc(100% - 100px)
    }
  }
}