.page-mobilityTrade.mobilityTrade {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  padding: 20px;
  width: 100%;
  float: left;
  box-sizing: border-box;
  .page-mobilityTrade-text {
    float: left;
    vertical-align:middle;
    .fontBig {
      font-size: 22px;
      line-height: 46px;
      vertical-align:middle;
      display: inline-block
    }
    .fontSmall {
      font-size: 14px;
      margin-left: 10px;
      vertical-align:middle;
      line-height: 46px;
      display: inline-block
    }
  }
  .page-mobilityTrade-options {
    float: right;
    vertical-align:middle;
    .options-select {
      float: left;
    }
    .options-input {
      float: left;
      margin-left: 20px;
    }
    .options-button {
      float: left;
      margin-left: 20px;
    }
    .inputCoin {
      line-height: 30px;
      font-size: 12px;
    }
  }
}