  .main{
    width: 100%;
    // width:1180px;
    // min-height: 800px;
    box-sizing: border-box;
    // position: relative;
  }
  .margin-left{
    // width:190px;
    position: absolute;
    height: 100%;
    left: 0;
  }
  .margin-left .title{
    font-size: 16px;
    margin:20px 0 20px 20px;
  }
  .margin-right{
    padding-bottom: 0.55rem;
  }
