.assetsNav {
  display: flex;
  height: 0.4rem;
  li {
    margin: 0 0.15rem;
    line-height: 0.4rem;
    font-size: 0.14rem;
    position: relative;
  }
  .line {
    position: absolute;
    height: 0.02rem;
    width: 0.4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}