.page-flowingWater {
  .nav {
    padding: 0.1rem 0.15rem;
  }
  .flowingWater-nav {
    height: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 32px;
  }
  .flowingWater-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.15rem;
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .flowingWater-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}