.trade-box.internationalTradeForm {
  font-size: 12px;
  padding: 0;

  .title-block {
    height: 39px;
    line-height: 39px;
    padding: 0 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .tab {
      display: inline-block;
      border-bottom-style: solid;
      border-bottom-width: 0px;
      height: 38px;
      cursor: pointer;
      user-select: none;
      margin-right: 26px;
      font-size: 14px;

      &.a-12-bd {
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }
    }

    .total-assets {
      float: right;
      height: 38px;
    }
  }

  .trade-block {
    width: 100%;
  }

  .trade-form {
    padding: 0 16px;

    .trade-type {
      span {
        vertical-align: middle;
      }

      .lovText {
        padding-left: 7px;
        color: #16161F;
        font-weight: 600;
        font-size: 16px;
      }
    }

    .top-mag {
      height: 35px;
      line-height: 35px;

      .lov {
        float: right;
        line-height: 35px;

        .lovButton {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }

    .percentage {
      display: flex;
      position: relative;
      justify-content: space-between;
      margin: -19px -5px 0 -5px;

      .per-item {
        display: block;
        width: 25%;
        border-style: solid;
        margin: 0 5px;
        border-width: 1px;
        text-align: center;
        line-height: 24px;
        height: 22px;
        cursor: pointer;
        user-select: none;
      }
    }

    .volume-trade {
      height: 40px;
      line-height: 42px;
    }
  }

  .totalBalancesHide {
    cursor: pointer;
    margin-left: 5px;
  }

  .header-sub-nav {
    position: absolute;
    width: 175px;
    left: 16px;
    top: 12px;
    z-index: 99;
    padding: 10px 0;

    .header-user-text {
      padding: 0;
      box-sizing: border-box;
      line-height: 40px;
      text-align: left;
      font-size: 12px;

      li {
        float: none;
        margin: 0;
        padding: 0;

        span {
          padding: 0 20px;
          line-height: 40px;
          font-size: 14px;
          height: 40px;
          display: block;
        }
      }
    }
  }

  .switch-trade-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    line-height: 30px;
    padding-left: 16px;
    font-size: 12px;
    cursor: pointer;

    .content {
      display: inline;

      span {
        vertical-align: middle;
      }

      .icon-triangle {
        position: relative;
        top: 10px;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-width: 4px 4px 0;
        border-style: solid;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.ts-content-text {
  line-height: 24px;
  height: 65px;
}