.advertising-management {
  width: 100%;
  .advertising-management-header {
    padding: 0.1rem 0.15rem;
  }

  .advertising-management-center {
    padding: 0rem 0.15rem 0.5rem 0.15rem;
  }

  .dialog-p {
    font-size: 14px;
    // padding: 40px 0;
    line-height: 0.2rem;
  }

  .banned-click {
    cursor: default !important;

    :hover {
      background: none !important;
    }
  }
}