.page-otcOrder {
  // .orderId {
  //   margin-left: -10px !important;
  // }
  .otcOrder-nav {
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding: 0 15px;
  }
   .otcOrder-nav-switchs {
    margin: 0.15rem;
    display: flex;
    justify-content: space-between;

    .switchWrap {
      display: inline-block;
      vertical-align: middle;
    }

    .text {
      font-size: 12px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
  .otcOrder-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 0.15rem;
    margin-top: 14px;
    .common-select {
      display: inline-block;
      margin-right: 0.1rem;
    }
  }
  .otcOrder-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.15rem;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}