.pos-history{
  width 1180px
  margin: 30px auto 0 auto;
  .pos-history-title{
    padding 20px 0 10px 19px
    font-size: 16px;
  }
  .date-select-cont{
    padding 26px 0 0 20px
    .date-selecter{
      float left
      margin-right: 20px
    }
  }
  .date-table-cont{
    margin-top 20px
    .table-custom-class{
      width:65%;
      text-align:right;
    }
  }
  .nav-tab{
    border-bottom 1px solid
  }
}