.page-otcOrder {
  .orderId {
    margin-left: -10px !important;
  }
  .otcOrder-nav {
    height: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding-left: 32px;
    .otcOrder-nav-switchs {
      position: absolute;
      right: 20px;
      top: 20px;
      .switchWrap {
        display: inline-block;
        display: inline-block;
      }
      .text {
        font-size: 12px;
        margin-left: 10px;
        display: inline-block;
      }
    }
  }
  .otcOrder-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 14px;
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .otcOrder-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}