.page-exchangeAccount {
  .exchangeAccount-body  {
    height: 100%;
  }
  .position {
    .select-option {
      width: 300px;
    }
  }
  .tableNownStyle {
    display: inline-block;
    height: 0.26rem;
    line-height: 0.26rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    vertical-align: middle;
    cursor: no-drop;
  }
  .tableTithDraw {
    margin-left: 0.1rem
  }
  position: relative;
  width: 100%;
  height: 100%;
  .switchWrap {display: inline-block;}
  .exchangeAccount-title {
    height: 0.5rem;
    padding: 0 0.15rem;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    .text {
      float: left;
      font-size: 0.14rem;
      vertical-align: middle;
      display: inline-block;
      line-height: 0.5rem;
    }
    .hide {
      float: left;
      vertical-align: middle;
      display: inline-block;
      margin-left: 0.15rem;
      line-height: 0.5rem;
      display: flex;
      align-items: center;
      .hodetext {
        display: inline-block;
        margin-left: 0.08rem;
        font-size: 0.12rem;
        max-width: 0.8rem;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap
      }
    }
    .find {
      float: left;
      vertical-align: middle;
      display: inline-block;
      .findClass {
        margin-top: 0.12rem;
      }
    }
  }
  .exchangeAccount-center {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.2rem;
    .table-head, .table-body-bar {
      padding: 0!important;
    }
  }

}