.page-coAccount {
  .exchangeAccount-body {
    padding: 0 0.15rem;
  }
  .tableNownStyle {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    cursor: no-drop;
  }
  .tableTithDraw {
    margin-left: 10px
  }
  position: relative;
  width: 100%;
  height: 100%;
  .switchWrap {display: inline-block;}
  .client {
    line-height: 55px;
    font-size: 12px;
    .client-icon {
      vertical-align: middle;
    }
    .client-text {
      vertical-align: middle;
    }
  }
  .exchangeAccount-center {
    width: 100%;
    box-sizing: border-box;
    // padding: 0 20px;
    .table-head, .table-body-bar {
      padding: 0!important;
    }
  }
}