.user-management-exccAuthorization {
  width 100%
  padding-bottom: 50px;
  .user-management-child-header {
    font-size 14px
    padding 18px 0 18px 20px
    border-bottom-width 1px
    border-bottom-style solid
    box-sizing border-box
  }

  .user-management-center i {
    width 14px
  }

  .certification-process {
    margin 40px 95px
    position relative
    text-align center
  }

  .certification-process div p {
    font-size 14px
    line-height 24px
  }

  .step-left {
    position absolute
    top 0
    left 0
    z-index 2
    padding-right 10px
  }

  .step-center {
    display inline-block
    position relative
    z-index 2
    padding 0 10px
  }

  .step-right {
    position absolute
    top 0
    right 0
    z-index 2
    padding-left 10px
  }

  .certification-process .div-line {
    width 100%
    position absolute
    left 0
    top 11px
    border-bottom-width 2px
    border-bottom-style solid
    z-index 1
  }

  .span-mark {
    float left
    width 24px
    height 24px
    border-radius 50%
    font-size 12px
    text-align center
    line-height 24px
    margin-right 10px
  }

  .idAuth-center {
    float left
    width 380px
    margin 0 300px
    padding-bottom 100px
  }

  .upload1, .upload2, .upload3 {
    float left
  }

  .upload1 div.upload1-left, .upload2 div.upload2-left, .upload3 div.upload2-left, .upload1 div.upload1-right, .upload2 div.upload2-right, .upload3 div.upload2-right {
    width 180px
    height 120px
    float left
    box-sizing border-box
    border-radius 2px
  }

  .upload1 div.upload1-left, .upload2 div.upload2-left, .upload3 div.upload2-left {
    border-width 1px
    border-style dashed
    margin-right 20px
    cursor pointer
    position relative
    overflow hidden

    svg {
      margin 40px 78px 10px 78px
    }

    p {
      font-size 12px
      text-align center
      padding: 0 5px
    }

    .mmd-loading-circle-right, .mmd-loading-circle-left {
      border-color rgba(27, 170, 236, 1)
    }

    .loading-Img {
      position absolute
      z-index 2
    }

    .loading-img {
      width 180px
      height 120px
      margin 0
    }

    .loading-mc {
      position absolute
      top 0
      left 0
      z-index 1

      div {
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        opacity 0.7
      }
    }
  }

  .upload2, .upload3 {
    margin-top 20px
  }

  .upload-text {
    float left
    font-size 12px
    line-height 20px
    margin-top 34px
    margin-bottom 26px
  }

  .upload_file {
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    cursor pointer
    z-index 3
  }

  .common-button-loading {
    position absolute
    vertical-align middle
    left 50%
    margin-left -17px
    top 45px
    transform translateY(-50%)
  }

  .loading-text {
    margin-top 70px
  }

  .audit-information {
    text-align center

    svg {
      margin 80px 0 15px 0
    }
  }

  .audit-information p {
    font-size 12px
    line-height 20px
    text-align center
  }
  .loadinBox {
    text-align: center;
    padding-top: 200px;
  }
  .note {
    margin: 20px 0 40px 15px;
    }
      
}