.modify-settings{
  width:100%;
  .user-management-child-header{
    font-size: 0.14rem;
      padding-left: 0.15rem;
      margin-top: 1px;
      line-height: 0.4rem;
      box-sizing: border-box;
  }
  .center{
    padding: 0 0.15rem;
    margin-top: 0.2rem;
    .center-title{
      svg {
        margin-right:10px;
      }
      font-size: 12px;
      // width:380px;
      margin:0 auto;
      padding-bottom: 0.2rem;
      // padding:20px 0 54px 0;
    }
  }
}