 .modify-api{
    width:100%;
    .modify-api-header{
      font-size: 14px;
      padding:18px 0 18px 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-sizing: border-box;
    }
    .center-inputs{
      width:380px;
      margin: 60px auto;
    }
    .center-code{
      width:380px;
      margin: 60px auto;
      img{
        width: 100px;
        height: 100px;
        margin-bottom 30px
      }
      div{
        height:70px;
        p:nth-of-type(1){
          font-size: 12px;
          padding: 12px 0 0 20px;
        }
        p:nth-of-type(2){
          font-size: 14px;
          padding-left: 20px;
        }
      }
    }
  }