.download-container{
  min-height 1178px;
  background-size: 100% 570px;
  background-repeat: no-repeat;
  margin-top -60px
  .download-options {
    padding-top: 100px;
    padding-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .download-options-logo {
    text-align: center;
    img {
      height: 74px;
      width: 74px;
      // display: block;
    }
  }
  .download-options-name {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
  }
  .download-options-text {
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    margin-top: 6px;
  }
  .download-options-buttons {
    text-align: center;
    margin-top: 35px;
  }
  .download-button {
    margin: 0 10px;
    width: 160px;
  }
  .download-options-rq {
    text-align: center;
    margin-top: 46px;
    img {
      height: 116px;
      width: 116px;
    }
  }
  .download-options-reText {
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    margin-top: 13px;
  }
  .download-nav {
    padding: 80px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    .download-nav-list {
      width: 1034px;
      margin: 0 auto;
    }
    .download-nav-even {
      float: left;
    }
    .download-nav-even:nth-child(even){
      margin-left: 190px;
    }
    .download-nav-even:nth-child(3){
      clear:left;
    }
    .download-nav-even:nth-child(4){
      clear:right;
    }
    .download-nav-even:nth-child(3),
    .download-nav-even:nth-child(4) {
      margin-top: 68px
    }
    .download-nav-img {
      float: left;
    }
    .download-nav-mode {
      float: left;
      margin-left: 36px;
    }
    .download-nav-title {
      font-size: 16px;
      max-width: 326px;
      word-wrap: break-word;
    }
    .download-nav-text {
      margin-top: 14px;
      font-size: 14px;
      max-width: 303px;
      word-wrap: break-word;
      line-height: 22px;
    }
  }
  .download-step {
    padding-top: 54px;
    padding-bottom: 80px;
    .download-step-t {
      line-height: 22px;
      font-size: 14px;
      margin-top: 8px;
    }
    .download-step-title {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
    .download-step-list {
      width: 1034px;
      margin: 0 auto;
      margin-top: 52px;
    }
    .download-step-even {
      height: 160px;
      margin-bottom: 42px;
    }
    .download-step-label {
      float: left;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 48px;
      height: 160px;
      border-right-width: 1px;
      border-right-style: solid;
      padding-right: 12px;
    }
    .download-step-mode {
      float: left;
      margin-left: 26px;
      word-wrap break-word;
      max-width: 500px;
    }
    .download-step-h {
      font-size: 16px;
      line-height: 32px;
    }
    .download-step-img {
      width: 320px;
      height: 160px;
      float: right;
      text-align: center;
      img {
        height: 160px;
        max-width: 320px;
      }
    }
  }
}
