.order-list-box {
  .tab-box {
    height: 39px;
    line-height: 39px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 20px;
    user-select: none;
    .tab-item {
      font-size: 14px;
      margin-right: 45px;
      display: inline-block;
      cursor: pointer;
      height: 37px;
      &.selected {
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }
    }
    .common-button {
      float: right;
      margin-top: 6px;
      font-size: 12px;
    }
    .is-show-active {
      float: right;
      font-size: 12px;
      .switchWrap {
        display: inline-block;
        margin-right: 5px;
      }
      span.txt {
        display: inline-block;
        margin-top: -2px;
        float: right;
      }
    }
  }
  .sub-tab-box {
    height: 34px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 20px;
    .tab-item {
      font-size: 12px;
      display: inline-block;
      cursor: pointer;
      height: 24px;
      line-height: 24px;
      padding: 0 20px;
      margin-top: 5px;
      user-select: none;
    }
  }
  .order-conent {
    height: 388px;
    position: relative;
    background-color: #fff;
    .table-body .table-body-bar {
        &.b-1-cl {
          color: #16161f;
        }
        tr.a-3-bd {
          border-color: #fff;
        }
        tr .sub-table.a-5-bg {
          background-color: #fff;
        }
      }
  }
  .table-body {
    min-height: 200px
    tr {

    }
  }
  .not-login {
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    span {
      cursor: pointer;
    }
  }
  .table-head {
    padding: 0;
    th {
      text-align: center;
      box-sizing: border-box;
      &:first-child {
        padding-left: 20px;
        text-align: left;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
  }
  .table-body .table-body-bar {
    padding: 0;
    td {
      position: relative;
      text-align: center;
      &:first-child {
        padding-left: 20px;
        text-align: left;
      }
      &:last-child {
        padding-right: 10px;
      }
      .futurs-name {
        .sideBg {
          position: absolute;
          width: 5px;
          height: 100%;
          top: 0;
          left: 0;
        }
        p {
          line-height: 16px;
        }
      }
    }
    .cancel_cause {
      min-width: 80px;
      .icon {
        vertical-align: middle;
      }
      .cancel_cause_text {
        display: none;
        position: absolute;
        width: 200px;
        padding: 10px;
        position: absolute;
        right: 20px;
        top: -10px;
        z-index: 10;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        line-height: 1.5;
      }
      .cancel_cause-btn {
        position: relative;
        &:hover {
          .cancel_cause_text {
            display: block;
          }
        }
      }
    }
  }
}
.trigge-order-list {
  .order-conent {
    height: 220px;
  }
  .table-body {
    min-height: 180px;
    .no-data {
      padding-bottom: 0;
    }
  }
}
 