.invite-system {
  .invite-system-cont{
    margin 0 14px 0 26px;
    padding 21px 0 20px 0
    border-bottom-width: 1px;
    border-bottom-style: solid;
    &.fill{
      margin 0;
      padding 21px 14px 20px 26px;
    }
    .invite-system-contl {
      display inline-block
      vertical-align top
      font-size: 12px;
      letter-spacing: 0;
      margin-right 20px;
    }

    .invite-system-contr {
      display inline-block
      font-size: 12px;
      .url{
        margin-bottom 11px;
        span{
          vertical-align: top
        }
        .copy{
          margin-left 10px;
          position relative;
          top -1px;
        }
      }
    }
  }
  .invite-hongbao{
    padding 20px 0 60px 26px;
    .invite-hongbao-title{
      font-size: 14px;
      margin-bottom 20px;
    }
    .invite-hongbao-info{
      font-size: 12px;
    }
  }
  .invite-process{
    margin-top 30px;
    .invite-step{
      &:last-child{
        margin-right 0;
      }
      margin-right 11px;
      display inline-block;
      height 395px;
      .invite-step-num{
        display inline-block;
        width 24px;
        height 24px;
        border-radius 50%;
        text-align center;
        line-height 24px;
        vertical-align top;
        font-size 12px;
      }
      .invite-step-cont{
        width 270px;
        margin-left 10px;
        display inline-block;
        .invite-img{
          width 200px;
          margin-top 20px;
          img{
            width 200px;
          }
        }
        .invite-title{
          margin-top 6px;
          font-size 12px;
          position relative
          .text{
            padding-right 10px;
            display inline-block;
            position relative;
            z-index 1
          }
          .line{
            position absolute;
            width 100%;
            height 1px;
            left 0;
            top:50%;
          }
        }
      }
    }
  }

}