.b2cAdd {
  .addressMent-header {
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.15rem;
    font-size: 0.14rem;
  }
  .b2cAdd-content {
    width: 100%;
    padding: 0 0.15rem;
    margin: 30px auto;
    box-sizing: border-box
  }
}
