

.stop-order-mode {
  .dialog-frame {
    width: 700px !important;
    .dialog-frame-body {
      width: 620px !important;
    }
  }
}
.stopOrderMode-box {
  table {
    width: 100%;
  }
  .thead {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
  }
  .common-tabel-content {
    min-height: auto !important;
  }
  .block-title {
    padding-top: 20px;
    margin-bottom: 10px;
    height: 26px;
    line-height: 26px;
    position: relative;
    span {
      font-size: 16px;
    }
    .common-button {
      float: right;
      font-size: 12px;
    }
  }
  .form-block {
    width: 290px;
    float: left
    font-size: 12px;
    .select-price {
      margin-top: 6px;
    }
  }
  .form-info {
    margin-bottom: 20px;
    width: 290px;
    float: right;
    margin: 18px 0 0;
    .info-item {
      margin-bottom: 1px;
      display: flex;
      box-sizing: border-box;
      font-size: 12px;
      height: 66px;
      align-items: center;
      p {
        flex: 1;
        padding: 10px 0 10px 10px;
      }
      .text1 {
        max-width: 120px; 
      }
      .text2 {
        text-align: right;
        border-left-width: 1px;
        border-left-style: solid;
        padding-right: 10px;
      }
    }
  }
  .tbody tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .condition-list {
    position: absolute;
    margin-right: 10px;
    left: 331px;
    top: 20px;
    span {
      font-size: 12px;
      border-width: 1px;
      border-style: solid;
      padding: 0px 5px;
      height: 26px;
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      max-width: 180px;
      overflow: hidden;
    }
    .condition-box {
      display: none;
      border-width: 1px;
      border-style: solid;
      position: absolute;
      width: 288px;
      left: 0;
      top: 26px;
      height: 160px;
      overflow: auto;
    }
    &:hover {
      .condition-box {
        display: block;
      }
    }
    .order-c-table {
      .thead,
      .tbody {
        display: flex;
        .th,
        .td {
          flex: 1;
          text-align: center;
          font-size: 12px;
        }
      }
      .tbody-box {
        height: 128px;

      }


    }
  }
  .block-expireTime {
    width: 290px;
    float: left;
    margin-top: 6px;
    position: relative;
    z-index: 9;
    .form-select .list {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
      padding: 15px 0;
      top: auto;
      bottom: 30px;
      border-width: 1px;
      border-style: solid;
    }
  }
}