.bitsg-swiper-base {
  background: url(https://saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20200308183958359.png) no-repeat center center;
  position :relative;
  height: 650px;
  width: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  .topLogo{
    margin: 0 auto;
    height: 60px;
    width: 1200px;
  }
  .title {
    font-size: 46px;
    line-height: 70px;
    margin: 20px auto 0 auto;
    text-align: left;
    width: 1200px;
    color:#fff;
  }
  .text {
    line-height: 70px;
    width: 1200px;
    margin: 0px auto 0 auto;
    color:#fff;
    font-family: PingFangSC-Semibold;
    font-size: 46px;
    line-height: 70px;
  }
  .subtitle{
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #6E738E;
    line-height: 18px;
    text-align: left;
    width: 1200px;
    margin: 30px auto;
  }
  .goSignBut{
    width: 1200px;
    margin: 0px auto;
    height:50px;
    button{
      height:50px;
      width :200px;
      border-radius: 25px;
    }
  }
  .imgBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    .img-ul {
      height: 160px;
      margin: 0 auto;
      width: 1200px;
      overflow: hidden;
      // width: 1
      margin-top: 48px;
      li {
        float: left;
        margin-left: 20px;
        margin-bottom: 50px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
        &:first-child {
          margin: 0;
        }
        &:hover {
          border-width: 1px;
          border-style: solid;
          img {
            width: 278px;
            height: 138px;
            display: block;
            cursor: pointer;
          }
        }
        img {
          width: 280px;
          height: 140px;
          display: block;
          cursor: pointer;
        }
      }
    }
    .sNav {
      width: 1135px;
      margin: 0 auto 0 auto;
      text-align: center;
    }
    .img-pages {
      display: inline-block;
      li {
        float: left;
        width: 8px;
        height: 6px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:last-child {
          margin-right: 0;
        }
        .pageBg {
          width: 100%;
          height: 100%;
          background: #fff;
          opacity: 0.3;
          display: block;
          border-radius: 3px;
        }
      }
      .active {
        width: 30px;
        position: relative;
        .pageBar {
          display: block;
          height: 6px;
          background: #fff;
          transition: all 0.1s linear;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 3px;
        }
      }
    }
  }
}
// 欧美版样式
.europe-swiper-base {
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #263043;
  position: relative;
  .banner-box {
    height: 360px;
    width: 100%;
    position: relative;
  }
  .banner-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: top;
    
  }
  .thumb-nav {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    .slideBtn {
      cursor: pointer;
      position: absolute;
      top: 28px;
      &:hover {
        opacity: 0.7;
      }
    }
    .prevBtn {
      left: 0;
    }
    .nextBtn {
      right: 0;
    }
    .thumb-box {
      width: 1080px
      position: relative;
      height: 100px;
      margin: 0 auto;
      overflow: hidden;
      .thumb-ul {
        position: absolute;
        top: 0;
        // transition: all 0.6s linear;
      }
      .thumb-item {
        height: 100px;
        float: left;
        width: 270px;
        position: relative;
        cursor: pointer;
        p {
          padding: 40px 20px  20px;
          font-size: 14px;
          color: #EDF4F8;
        }
        .pageBg {
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.3;
          display: block;
        }
      }
      .active {
        background: #263043;
        .pageBg {
          background: #EDF4F8;
        }
        .pageBar {
          display: block;
          height: 2px;
          background: #fff;
          transition: all 0.1s linear;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}