.SafetyRecord-box {
  padding-bottom: 0.5rem;
  .nav {
    padding: 0.1rem 0.15rem;
  }

  .SafetyRecord {
    width: 100%;

    .user-management-child-header {
      font-size: 14px;
      position: relative;
      float: left;
      width: 100%;
      padding-left: 30px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-sizing: border-box;
    }

    .user-management-center {
      padding: 0 0.15rem;
    }

    .pagination {
    }

    .table-head {
      margin: 0 20px;
      padding: 0;
    }
  }
}