.download-container{
  .mask_layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.7);
    .brower {
      span  {
        display: inline-block;
        // text-align: left;
      }
      text-align: center
      margin-top: 1.5rem;
      font-size: 0.2rem;
      text-align: left;
      margin-left: 25%;
      position: relative;
      line-height: 0.3rem
      img {
        position: absolute;
        top: -0.55rem;
        left: 1.2rem;
      }
    }
  }
  // min-height 1178px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // margin-top -60px
  .download-options {
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
  }
  .download-options-logo {
    text-align: center;
    img {
      height: 0.6rem;
      width: 0.6rem;
      // display: block;
    }
  }
  .download-options-name {
    text-align: center;
    margin-top: 20px;
    font-size: 0.22rem;
  }
  .download-options-text {
    font-size: 0.14rem;
    text-align: center;
    line-height: 32px;
    margin-top: 6px;
  }
  .download-options-buttons {
    text-align: center;
    margin-top: 35px;
    padding: 0 0.15rem
  }
  .download-button {
    // margin: 0 0.1rem;
    &.test-filght{
      margin-bottom 0.2rem;
    }
    width: 100%;
  }
  .download-options-rq {
    text-align: center;
    margin-top: 0.3rem;
    img {
      height: 0.6rem;
      width: 0.6rem;
    }
  }
  .download-options-reText {
    font-size: 0.12rem;
    text-align: center;
    line-height: 14px;
    margin-top: 13px;
  }
  .download-nav {
    // padding: 80px 0;
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
    .download-nav-list {
      // width: 1034px;
      margin: 0 auto;
    }
    .download-nav-even {
      // float: left;
      margin-bottom: 0.3rem;
    }
    .download-nav-img {
      float: left;
      height: 0.6rem;
      width: 0.6rem;
      margin-left: 0.15rem;
    }
    .download-nav-mode {
      float: left;
      margin-left: 0.15rem;
      width: 2.7rem;
    }
    .download-nav-title {
      font-size: 0.16rem;
      // max-width: 326px;
      word-wrap: break-word;
      line-height: 0.24rem;
    }
    .download-nav-text {
      margin-top: 0.1rem;
      font-size: 14px;
      // max-width: 303px;
      word-wrap: break-word;
      line-height: 0.22rem;
    }
  }
  .download-step {
    // padding-top: 54px;
    // padding-bottom: 80px;
    .download-step-t {
      line-height: 22px;
      font-size: 14px;
      margin-top: 8px;
    }
    .download-step-title {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
    .download-step-list {
      // width: 1034px;
      margin: 0 auto;
      margin-top: 52px;
    }
    .download-step-even {
      // height: 160px;
      margin-bottom: 42px;
    }
    .download-step-label {
      float: left;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 48px;
      // height: 160px;
      padding-left: 0.15rem;
    }
    .download-step-mode {
      border-left-width: 1px;
      border-left-style: solid;
      // float: left;
      margin-left: 0.5rem;
      word-wrap break-word;
      padding-left 0.15rem;
      // max-width: 500px;
      width: 2.7rem;
    }
    .download-step-h {
      font-size: 16px;
      line-height: 32px;
    }
    .download-step-img {
      width: 3.45rem;
      height: 1.73rem;
      margin-left: 0.17rem;
      // float: right;
      text-align: center;
      margin-top: 0.2rem;
      img {
        height: 1.73rem;
        max-width: 3rem;
      }
    }
  }
}