.page-otcRelease {
  padding-bottom: 0.2rem;
  .noPay {
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  .input-line-warning {
    right: 0
  }
  // width: 1180px;
  // min-height: 800px;
  // padding-bottom: 80px;
  // margin: 30px auto 0 auto;
  // 头部选择币种
  .otcRelease-symbolNav {
    height: 72px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    // padding-left: 60px;
    padding-top: 31px;
    box-sizing: border-box;
  }
  // 介绍
  .otcRelease-message {
    padding: 0 0.15rem;
    box-sizing: border-box;
    .otcRelease-message-title {
      margin: 0.2rem 0;
      font-size: 22px;
      letter-spacing: 0;
    }
    .otcRelease-message-text {
      font-size: 12px;
      letter-spacing: 0;
      line-height: 18px;
      width: 100%;
    }
  }
  .otcRelease-message-bg {
    margin-top: 0.2rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    img {
      width: 100%;
      display: block
    }
  }
  // 主体
  .otcRelease-main {
    padding: 0 0.15rem;
    box-sizing: border-box;
    .otcRelease-page {
      font-size: 14px;
    }
    // 广告类型
    .otcRelease-side {
      margin: 0.2rem 0;
      .otcRelease-page-side {
        // margin-right: 50px;
      }
      .otcRelease-page {
        line-height: 0.2rem;
      }
      .otcRelease-side-first {
        margin-right: 20px;
      }
      .otcRelease-side-even {
        float: right;
      }
      .common-redio {
        vertical-align: middle;
      }
      .text {
        font-size: 14px;
        vertical-align: middle;
        margin-left: 4px;
        cursor: pointer
      }
    }
    // 货币类型
    .otcRelease-legalCurrency {
      // width: 380px;
      // margin-top: 40px;
    }
    // 数量 95 -70 = 25
    .otcRelease-number {
      // width: 380px;
      // margin-top: 25px;
      .input-line-warning {
        right: 0
      }
    }
    // input的单位
    .otcRelease-input-page {
      line-height: 30px;
    }
    // 当前单价 42 - 24 = 18
    .otcRelease-NowPrice {
      margin-top: 18px;
      .otcRelease-NowPrice-side {
        .des-icon{
          position relative
          margin-left 17px
          span{
            z-index: 2
            position absolute
            box-shadow: 0 3px 4px 1px rgba(0,0,0,0.28);
            border-radius: 2px;
            padding 15px;
            left: 0.2rem;
            top: 0rem;
            display none;
            z-index 3;
            width: 1.5rem;
            line-height: 0.2rem;
          }
          &:hover{
            span{
              display inline-table
            }
          }
        }
      }
      .otcRelease-NowPrice-message {
        font-size: 14px;
        margin-top: 6px;
        .address {
          margin-left: 10px;
        }
      }
    }
    // 定价方式
    .otcRelease-pricingMethod {
      // width: 380px;
      margin-top: 40px;
    }
    .precent{
      margin-top 0px
    }
    // 自定义价格
    .otcRelease-autoPrice {
      // width: 380px;
      margin-top: 30px;
    }
    // 总金额
    .otcRelease-sum {
      .otcRelease-sum-price {
        font-size: 14px;
        line-height: 20px;
        margin-top: 7px;
      }
    }
    .MessPrice{
      margin-bottom 27px
    }
    // 最小限额
    .otcRelease-minPrice {
      margin-top: 14px;
      // width: 380px;
    }
    .precentInput{
      margin-top 28px
      margin-bottom 12px
    }
    // 最大限额 90-70
    .otcRelease-maxPrice,
    .otcRelease-tradeTime,
    .otcRelease-frequency,
    .otcRelease-days {
      margin-top: 20px;
      // width: 380px;
    }
    //
    .otcRelease-pays {
      margin-top: 18px;
      .otcRelease-paysList {
        li {
          display: inline-block;
          margin-right: 0.1rem;
          margin-top: 30px;
          user-select: none;
        }
        .common-checkout {
          vertical-align: middle;
          margin-right: 0.05rem;
        }
        .paysList-text {
          cursor: pointer;
          display: inline-block;
          min-width: 50px;
          vertical-align: middle;
          font-size: 14px;
          margin-left: 6px;
        }
      }
    }
  }
  // 成功后的弹窗
  .success-dialog {
    font-size: 14px;
  }
  .otc-page-title {
    display: none;
  }
}