.set-up-window {
  .b-1-cl {
    color: #A7B4CB;
  }
  .redio-block {
    align-items: center;
    padding: 20px 0px;
    .label {
      display: block;
    }
    .redio-box {
      padding-top: 16px;
      >span {
        display: inline-block;
        margin-right: 32px;
        cursor: pointer;
        min-width: 60px;
      }
    }
    .switchWrap {
      float: right;
    }
  }
  .ts-1 {
    padding: 15px 0 10px;
    font-size: 12px;
  }
  .redio-block2 {
    .item {
      padding: 10px 0;
    }
    p.ts-2 {
      line-height: 20px;
      padding: 10px 0 0 20px;
    }
    span {
      display: block;
      cursor pointer
    }
  }
  .ts-3 {
    padding-top: 15px;
    margin-bottom: -10px;
  }
  .ts-4 {
    padding-left: 20px;
    font-size: 12px;
  }
  .button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    button {
      margin-right: 20px;
    }
  }
}
.contract-dialog {
  .dialog-frame {
    background-color: #fff;
  }
  .dialog-frame-head {
    background-color: rgba(167, 180, 203, .2);
    .dialog-frame-head-text {
      color:  #16161F;
    }
  }
}