.api-management{
  width:100%;
  .api-management-header{
    height: 40px;
    margin-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding: 0 15px;
  }
  .api-management-center{
    padding-bottom: 0.5rem;
    .center1{
      .center1-options {
        padding: 0 0.15rem;
      }
      .center1-title2 {
        font-size 14px;
        line-height: 0.4rem;
        padding-left: 0.15rem;
        // width:940px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
      .center1-img{
        // position:absolute;
        // right: 0;
        // top: 173px;
        // height: 1.4rem;
        margin-top: 0.2rem;
        width: 100%;
      }
      .center1-header{
        margin: 0.1rem 0;
        .center1-title{
          font-size: 12px;
            display: flex;
          span{
            display: inline-block
            // margin-left: 10px;
            line-height: 18px;
            margin-left: 0.1rem;
            margin-top: 0.08rem;
            // width: calc(100% - 30px)
          }
          svg {
            font-size: 0.3rem;
          }
        }
      }
      .center1-table{
        margin-top: 30px;
        width:100%;
        border-top-style: solid;
        border-top-width: 1px;
      }
    }
    .center2{
      padding: 0 0.15rem;
      margin-top: 0.2rem;
      .api-down{
        padding: 0 20px;
        height:30px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        // margin:20px;
        display:inline-block;
      }
    }
    .center3{
      margin-top: 0.2rem;
      padding: 0 0.15rem;
      .api-down{
        padding: 0 20px;
        height:30px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        // margin:20px;
        display:inline-block;
      }
    }
  }
  .dialog-div{
    ul{
      width:100%
      li{
        height:70px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: 0 20px;
        p:nth-of-type(1){
          padding-top:17px;
          font-size:12px;
        }
        p:nth-of-type(2){
          overflow:hidden;
          font-size:14px;
        }
      }
    }
  }
  .alertTitle {
    margin-bottom: 15px;
  }
  .alertText {
    width: 285px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .alertError {
    height: 36px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 36px;
    .alertError-text {
      font-size: 12px;
    }
    .alertError-icon {
      float: right;
    }
  }
  .alertBot {
    margin-bottom: 10px
  }
  .dialog-div {
    svg{
      margin-left:10px;
      cursor: pointer;
    }
  }
}