.swiper_wrap{
  min-height: 0.3rem;
}
.com-home-carousel {
  width: 100%;
  img {
    height: 2rem;
    width: 100%;
    display: block
  }
  .slide {
    width: 100%;
    text-align: center
  }
}
.cms-content{
  height: 0.25rem;
  overflow: hidden;
  border-bottom: 0.01rem solid #1c2b49;border-bottom: 0.01rem solid $common-interval;
  display: flex;
  i {
    font-size: 0.15rem;
    /* margin-top: -0.05rem; */
    color: #24a0f5;
    margin-right: 0.05rem;
    line-height: 0.25rem;
    margin-left: 0.1rem;
  }
  .cms-scroll {
    flex: 1;
    transition: all 0.5s;
    a {
      display: inline-block;
      height: 0.25rem;
      line-height: 0.25rem;
      display: flex;
      align-items: center;
      font-size: 0.12rem;
      vertical-align: middle;
      color: $common-Vice;
      white-space: nowrap;
    }
  }
}