.company-application {
    font-weight 100
    text-align left
    // width 1180px
    // margin 30px auto 0
    .title{
      font-size 0.14rem;
      padding: 0rem 0.15rem;
      line-height: 0.4rem;
      margin-top: 1px;
    }
    .desc{
      padding: 0.2rem 0.15rem;
      font-size 14px
      line-height 24px
    }
  }