.api-management{
    width:100%;
    .api-management-header{
      font-size: 14px;
      position: relative;
      float: left;
      width:100%;
      padding-left: 30px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-sizing: border-box;
    }
    .api-management-center{
      .center1{
        .center1-title2 {
          font-size 14px;
          width:940px;
          padding: 18px 20px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
        width: 100%;
        float: left;
        position: relative;
        .center1-img{
          position:absolute;
          right: 0;
          top: 173px;
        }
        .center1-header{
          margin: 20px 40px 0 20px;
          .center1-title{
            font-size: 12px;
            svg{
              float: left;
            }
            span{
              margin-left: 10px;
              width:400px;
              float: left;
              line-height: 18px;
            }
          }
        }
        .center1-inputs{
          margin: 40px;
          float: left;
          width:500px;
          .center1-input{
            width:240px;
            float: left;
          }
          .center1-button{
            width:100%;
            float: left;
          }
          .center1-input:nth-of-type(odd){
            margin-right: 20px;
          }
        }
        .center1-table{
          width:100%;
          float: left;
          border-top-style: solid;
          border-top-width: 10px;
        }
      }
      .center2{
        width: 100%;
        .api-down{
          padding: 0 20px;
          height:30px;
          box-sizing: border-box;
          border-style: solid;
          border-width: 1px;
          font-size: 12px;
          text-align: center;
          line-height: 30px;
          margin:20px;
          display:inline-block;
        }
      }
      .center3{
        .api-down{
          width:100px;
          height:30px;
          box-sizing: border-box;
          border-style: solid;
          border-width: 1px;
          font-size: 12px;
          text-align: center;
          line-height: 30px;
          margin:20px;
          display:inline-block;
        }
      }
    }
    .dialog-div{
      ul{
        width:100%
        li{
          height:70px;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          padding: 0 20px;
          p:nth-of-type(1){
            padding-top:17px;
            font-size:12px;
          }
          p:nth-of-type(2){
            overflow:hidden;
            font-size:14px;
          }
        }
      }
    }
    .alertTitle {
      margin-bottom: 15px;
    }
    .alertText {
      width: 285px;
      font-size: 12px;
      margin-bottom: 5px;
    }
    .alertError {
      height: 36px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      line-height: 36px;
      .alertError-text {
        font-size: 12px;
      }
      .alertError-icon {
        float: right;
      }
    }
    .alertBot {
      margin-bottom: 10px
    }
    .dialog-div {
      svg{
        margin-left:10px;
        cursor: pointer;
      }
    }
  }
  // 国际版
.Int {
  .api-management {
    .api-management-header {
      padding-left: 0;
    }
    .center1 {
      .center1-header,
      .center1-inputs {
        margin-left: 0;
      }
    }
    .api-management-center .center1 .center1-title2 {
      padding: 18px 0;
    }
    .table-head {
      padding: 0;
    }
    .api-management-center .center3 .api-down,
    .api-management-center .center2 .api-down {
      margin-left: 0;
    }
  }
}