.broker-system{
  .user-management-child-header{
    width:100%;
    float: left;
    font-size: 14px;
    padding:18px 0 18px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .broker-system-header{
    margin-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    padding: 0 30px;
    .update-time{
      font-size: 12px;
      float: right;
      line-height: 56px;
    }
  }
  .broker-user-info{
    border-bottom-width: 10px;
    border-bottom-style: solid;
    height:164px;
    padding 0 30px;
    .invite-help{
      font-size: 14px;
      cursor pointer
      display: block;
      margin-left: -10px;
    }
    .user-name{
      display inline-block;
      font-family: PingFangSC-Regular;
      letter-spacing: 0;
      padding 40px 48px 12px 0;
      .top{
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 4px;
      }
      .phone{
        font-size: 22px;
        line-height: 30px;
      }
    }
    .user-text{
      padding: 0 16px;
      box-sizing: border-box;
      width: 220px;
      height: 40px;
      line-height: 40px;
      font-family: PingFangSC-Regular;
      display inline-block;
      margin-left: 10px;
      .title{
        text-align: left;
        font-size: 12px;
      }
      .info{
        float: right;
        font-family: PingFangSC-Medium;
        font-size: 22px;
      }
    }
  }
}