.japanese-home-container {
  .japanese-header {
    background-image linear-gradient(-179deg, #0046BB 0%, #083687 100%)
    padding-top 65px
    color #FFFFFF

    .bulletinBoard {
      padding-top 8px
      margin 0 auto
      width 820px
      height 40px
      text-align center
      position relative

      .backgrounds {
        width 100%
        height 100%
        position absolute
        top 0
        left 0
      }

      .bull-bar {
        .notice-item {
          font-family PingFangSC-Regular
          font-size 12px
          text-align center
          position relative
          display inline-block
          padding-left 15px
          box-sizing border-box
          line-height 40px
          height 40px
          color #fff
          margin-bottom 0

          &:first-child {
            padding-left 0
          }

          .hoverHide {
            color #fff
            display inline-block
            vertical-align middle
          }

          i {
            margin-left 20px
            display inline-block
          }

          &:last-child {
            i {
              display none
            }
          }

          .new {
            width 32px
            display inline-block
            margin-right 10px
            vertical-align middle
          }
        }

        .moreButton {
          display inline-block
          height 40px
          line-height 40px
          width 17px
          vertical-align middle
          position relative
          margin-left 15px
          cursor pointer

          .right-icon {
            width 16px
            vertical-align middle
          }

          b {
            top 0
            left 0
            position absolute
            display inline-block
            height 10px
            width 17px
          }

          .hover-show {
            display none
          }

          &:hover {
            .hover-hide {
              display none
            }

            .hover-show {
              display block
            }
          }
        }
      }

      .more {
        position absolute
        font-family PingFangSC-Regular
        font-size 12px
        text-align right
        right 20px
        top 7px
      }
    }

    h1 {
      font-size 44px
      text-align center
      line-height 42px
      margin-bottom 20px
    }

    p {
      font-size 18px
      text-align center
      line-height 18px
      margin-bottom 40px
    }

    .register-region {
      background #FFFFFF
      border 1px solid #EEEEEE
      border-radius 2px
      width 758px
      padding 10px 32px 10px 30px
      margin 0 auto
    }

    .register-info {
      border 1px solid #DDDDDD !important
      border-radius 2px
      height 44px
      width 300px
      font-size 14px
      color #AAAAAA
      line-height 44px
      margin-right 17px

      .input-find-content {
        input {
          color #AAAAAA !important
        }
      }
    }

    .download-button, .register-info, .go-register {
      float left
      height 44px
      line-height 44px
    }

    .go-register {
      margin-right 20px
      background #2480F5 !important
    }

    .download-button {
      margin-right 20px
      background #000000 !important
      border-radius 2px
      text-align left

      .icon {
        margin-top 3px
        vertical-align -0.3em
      }
    }

    .no-margin {
      margin-right 0
    }

    .header-img {
      width 900px
      height 445px
      margin 0 auto
      margin-top 198px
    }
  }

  .qa-container {
    background-color #f8f8f8
    padding-top 80px
  }

  .qa-region {
    padding-bottom 80px
    width 1100px
    margin 0 auto

    h1 {
      font-size 36px
      color #31363E
      text-align center
      margin-bottom 20px
    }

    p {
      font-size 16px
      color #828EA1
      text-align center
      line-height 16px
      margin-bottom 76px
    }

    li {
      margin-bottom 30px
    }

    .q-region, .a-region {
      height 60px
      border-radius 2px 2px 0px 0px
      line-height 60px
      padding-left 21px
      padding-right 10px
    }

    .q-region {
      background #2480F5
      color #FFFFFF
      font-size 18px

      .arrow-region {
        float right
        line-height 60px
      }
    }

    .a-region {
      background #FFFFFF
      color #555555
      font-size 14px
      box-shadow 0px 2px 16px rgba(0, 0, 0, 0.1)
    }
  }

  .japanese-swipers {
    padding-top 0
    position relative
    top 0

    .carousel-wrap {
      top auto
      bottom 50px
    }
  }
}