.page-login {
  margin-top: 1px;
  .guide-center {
    p {
      font-family: PingFangSC-Regular;
      font-size: 0.22rem;
      text-align: center;
      line-height: 0.22rem;
      margin-top: 0.24rem;
    }
    .guide-text {
      margin-top: 0.12rem;
      font-size: 0.14rem;
      text-align: center;
    }
    .guide-ht {
      vertical-align: middle;
    }
    .goRegister {
      vertical-align: middle;
      font-size: 0.14rem;
    }
  }
  // 主体
  .page-login-content {
    padding-top: 0.2rem; // 90 - 43
    .content-center {
      width: 3.45rem;
      margin: 0 auto;
      // 忘记密码
      .forgetPassword {
        font-size: 0.12rem;
        line-height: 0.2rem;
        margin-top: 0.06rem;
      }
    }
  }
  .copy {
    display: none;
  }
}
.guide-center{
  .logBtn{
    .common-button-slot{
      color #1baaec !important
    }
  }
}
.page-login-content{
  .logBtn{
    .common-button-slot{
      color #1baaec !important
    }
  }
}
.resetPassBtn {
  margin-left: -0.1rem;
}