.otcDetailOrder-header {
  padding: 60px;
  padding-bottom: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  .otcDetailOrder-bar {
    .bar-page {
      display: inline-block;
      vertical-align: middle;
      &:last-child {
        .bar-line {
          display: none
        }
      }
    }
    .bar-line {
      display: inline-block;
      width: 220px;
      height: 2px;
      vertical-align: middle;
      margin: 0 10px;
    }
    .bar-page-ball {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50px;
      font-size: 22px;
      vertical-align: middle;
    }
    .bar-page-text {
      font-size: 14px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .otcDetailOrder-text {
    margin-top: 44px;
    .Conspicuous {
      font-size: 22px;
    }
    .info {
      font-size: 22px;
    }
    .small {
      font-size: 12px;
    }
    .active {
      cursor: pointer;
      font-size: 12px;
    }
  }
}