.notice-info {
  position: relative;
  .main-content {
    min-height: 600px;
    width: 1180px;
    margin: 40px auto 0;
  }
  .menu {
    width: 190px;
    float: left;
    .menu-tit {
      font-size: 16px;
      font-weight: normal;
      line-height: 32px;
      margin-bottom: 17px;
    }
    .menu-item {
      padding: 15px 25px 15px 20px;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      user-select: none;
    }
  }
  .content-box {
    padding-left: 200px;
  }
  .content-text {
    min-height: 500px;
    padding: 40px 60px 60px;
    .content-title {
      font-size: 32px;
      line-height: 40px;
    }
    .time {
      width: 100px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 16px;
    }
    .main-text {
      margin-top: 30px;
      line-height: 24px;
      font-size: 14px;
    }
  }
}
