.order-main{
  width:1180px;
  min-height: 800px;
  margin: 30px auto 0 auto;
  padding-left: 200px;
  box-sizing: border-box;
  position: relative;
}
.order-title {
  height: 56px;
  line-height: 56px;
  padding-left: 20px;
  font-size: 16px;
}
.margin-right{
  width:980px;
  min-height: 800px;
}
.margin-left{
  width:190px;
  position: absolute;
  height: 100%;
  left: 0;
}
.Int {
  .order-page-box {
    height: 100%;
  }
  .order-main{
    margin: 0;
    width: auto;
    height: 100%;
    padding-left: 195px;
    .assets-page-title  {
        height: 80px;
        line-height: 80px;
        margin-bottom: 5px;
        .page-title-bar {
          width: 940px;
          margin: 0 auto;
          font-size: 16px;
        }
      }
    .margin-left {
      height: 100%;
    }
    .margin-right {
      width: auto;
      height: calc(100% - 85px);
      .margin-right-bar {
        width: 940px;
        margin: 0 auto;
        .otcOrder-options,
        .otcOrder-table,
        .otcOrder-nav,
        .exchangeOrder-table,
        .exchangeOrder-options,
        .exchangeOrder-nav {
          padding: 0;
        }
      }
    }
  }
}