.areaAndIpLimit {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .areaAndIpLimit-wrap {
    .limit-img {
      position: relative;
      z-index: 2;
      text-align: center;
      transform: translate(0, 0.126rem);
      -webkit-transform: translate(0, 0.126rem);
      -moz-transform: translate(0, 0.126rem);
      img {
        width: 1.96rem;
      }
    }
    .content {
      position: relative;
      width: 3.1rem;
      min-height: 2.63rem;
      padding-bottom: 0.116rem;
      border-radius: 0.12rem;
      box-shadow: 0 0 0.12rem rgba(0, 0, 0, 0.1);
      .title-bar {
        height: 0.29rem;
        line-height: 0.29rem;
        padding-left: 0.203rem;
        background: #F6F8FC;
        margin-bottom: 0.124rem;
        img {
          height: 0.037rem;
          vertical-align: middle;
        }
      }
      h3 {
        font-size: 0.16rem;
        font-weight: 600;
        line-height: 0.29rem;
        margin-bottom: 0.08rem;
        color: #1F3F59;
        text-align: center;
      }
      p {
        width: 2.71rem;
        margin: auto;
        opacity: 0.8;
        font-size: 0.14rem;
        color: #828EA1;
        line-height: 0.24rem;
      }
      .bg {
        position: absolute;
        right: -0.22rem;
        bottom: -0.34rem;
        z-index: -1;
        img {
          width: 3.32rem;
          height: 2.97rem;
        }
      }
    }
  }
}