.coNewTrade-container {
  height 592px
  margin-top 18px
  border-radius 10px
  background-color #fff
  .block-header {
    display block !important
    height 45px
    line-height 45px
    padding 0 19px
    font-size 14px
    margin-bottom 17px
    font-weight 700
    span {
      color #16161F !important
    }
  }
  .thead {
    height 27px
    line-height 27px
    padding 0 15px 0 0
    font-size 12px
    background-color rgba(228, 228, 228, .25)
    margin-bottom 16px
    span {
      display inline-block
      white-space nowrap
      font-weight 600
      color RGB(167, 180, 203)
    }
  }
  .tbody {
    padding 5px 0 5px
    font-size 12px
    height: 472px;
    box-sizing: border-box;
    .symbol-item {
      line-height: 30px;
      cursor pointer
      position relative
      border-bottom: 1px solid rgba(167, 180, 203, .2);
      .bg {
        display none
      }
      .rose {
        position absolute
        top 1px
        left 10px
        font-size 12px
      }

      &:hover {
        .bg {
          display block
          position absolute
          top 0
          left 0
          height 100%
          width 100%
        }
      }

      &.change-item {
        .change {
          position absolute
          animation 2s opacityZ 0s 1
          top 2px
          left 0
          height 80%
          width 100%
          opacity 0
        }
      }
    }
  }
  .thead, .tbody {
    span {
      display inline-block
      text-align right
      position relative
      .icon {
        display inline-block
        vertical-align middle
        height 15px
        background #f00
        float left
        margin 8px 5px 0 0
      }
      .hover_show {
        display none
      }
      &:hover {
        .hover_show {
          display block
        }
        .hover_hide {
          display none
        }
      }
      &:first-child,
      &.td-symbol {
        text-align: left;
        box-sizing: border-box;
        padding-left: 15px;
      }
    }
  }
  .tr-bg {
    position absolute
    height 20px
    top 0
    left 0
    z-index 1
    opacity 0.16
    padding 0
    width 10%
    transiton width 0.5s ease
    -webkit-transition width 0.5s ease
  }
  @keyframes opacityZ {
    0% {
      opacity 1
    }

    100% {
      opacity 0
    }
  }
  @keyframes opacityZ {
    0% {
      opacity 1
    }

    100% {
      opacity 0
    }
  }
  @keyframes opacityZ {
    0% {
      opacity 1
    }

    100% {
      opacity 0
    }
  }
    // 如果宽度大于 1820px
  @media screen and (min-width: 1820px){
    .tbody {
      height: 225px;
    }
  }

  .__rail-is-vertical, .__bar-is-vertical {
    background-color: #fff !important;
  }
  .__rail-is-horizontal, .__bar-is-horizontal {
    background-color: #fff !important;
  }
}
.a-21-bg {
  background-color #fff;
}
