
.page-flowingWater {
  .flowingWater-nav {
    height: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-left: 32px;
  }
  .flowingWater-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 14px;
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .flowingWater-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}
// 国际版
.Int {
  .page-flowingWater{
    width: 940px;
    margin: 0 auto;
    .flowingWater-nav,
    .flowingWater-table,
    .flowingWater-options {
      padding: 0;
    }
  }
}