.stop-profit-and-loss {
  .not-reconfirm {
    margin-top: 10px;
    user-select: none;
    .common-checkout {
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
  .dialog-div-module{
    padding: 18px 20px 15px 20px;
    border-bottom-style:solid;
    border-width:1px;
    font-size: 14px;
    box-sizing: border-box;
    height: 48px;
    .td {
      float: right;
    }
  }
  .margin-item {
    border-top-width:10px;
    border-top-style:solid;
    height: 58px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }

}