.otcDetailOrder-header {
  .otcDetailOrder-bar {
    min-height: 0.55rem;
    margin-top: 1px;
    line-height: 0.55rem;
    padding: 0 0.15rem;

    .bar-page {
      display: inline-block;
      vertical-align: middle;

      &:last-child {
        .bar-line {
          display: none;
        }
      }
    }

    .bar-line {
      display: inline-block;
      width: 0.6rem;
      height: 2px;
      vertical-align: middle;
      margin: 0 0.1rem;
    }

    .bar-page-ball {
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      line-height: 0.2rem;
      text-align: center;
      border-radius: 0.2rem;
      font-size: 0.12rem;
      vertical-align: middle;
    }

    .bar-page-text {
      font-size: 0.12rem;
      margin-left: 0.04rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .otcDetailOrder-text {
    // margin-top: 44px;
    padding: 0.2rem 0.15rem 0 0.15rem;
    .otcDetailOrder-text-box {
      display: flex;
      justify-content: space-between;
    }
    .charts {
      margin-left: 20px;
      white-space: nowrap;
      span {
        margin-left: 5px;
      }
    }
    .bottom-line {
      height: 1px;
      margin-top: 0.2rem;
    }

    .Conspicuous {
      font-size: 0.16rem;
    }

    .info {
      font-size: 0.16rem;
      line-height: 0.2rem;
    }

    .small {
      font-size: 12px;
      line-height: 0.2rem;
    }

    .active {
      cursor: pointer;
      font-size: 12px;
    }
  }
}