.footer-box {
    min-height: 264px;
    padding-bottom: 40px;
    margin-top: 120px;
  }
  .no-margin {
    margin-top: 0;
  }
  .footer-bar {
    font-size: 12px;
    padding-top: 40px;
    width: 1180px;
    margin: 0 auto;
    position: relative;
  }
  .footer-default {
    padding-top: 80px;
  }
  .footer-logo {
    width: 260px;
    float: left;
    padding-left: 40px
  }
  .footer-logo img{
    max-height: 70px;
  }
  .logo {
    max-height: 120px;
    max-width: 120px;
  }
  .footer-menu {
    margin: 0 auto;
    width: 1200px
  }
  .footer-template {
    width: 900px;
    overflow: hidden;
    float: right;
  }
  .menu-ul-default {
    width: 100%;
  }
  .menu-ul-default li {
    float: left;
    width: 260px;
    padding-left: 40px;
    line-height: 26px;
  }
  .menu-ul-default li .hoverShow {
    display: none;
  }
  .menu-ul-default li:hover .hoverShow {
    display: inline-block;
  }
  .menu-ul-default li:hover .hoverHide {
    display: none;
  }
  .menu-ul-default .tit {
    margin-bottom: 15px;
  }
  .footer-box .copy {
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 20px;
    font-size: 12px;
    margin-top: 80px;
  }
  /*国际版*/
  .int-footer-bar {
    padding: 96px 110px 0 110px;
  }
  .int-footer-left {
    float: left;
  }
  .int-footer-left p {
    line-height: 26px;
  }
  .int-footer-logo {
    width: 260px;
    margin-bottom: 40px;
  }
  .int-footer-template {
    float: right;
  }
  .menu-ul-int {
    width: 600px;
  }
  .menu-ul-int li {
    float: left;
    width: 150px;
    padding-left: 40px;
    line-height: 26px;
  }
  .menu-ul-int li .hoverShow {
    display: none;
  }
  .menu-ul-int li:hover .hoverShow {
    display: inline-block;
  }
  .menu-ul-int li:hover .hoverHide {
    display: none;
  }
  .menu-ul-int .tit {
    margin-bottom: 15px;
  }
  .footer-box .copy {
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 20px;
    font-size: 12px;
    margin-top: 80px;
  }
  .footer-box .int-copy {
    text-align: left;
    border-top-width: 1px;
    border-top-style: solid;
    font-size: 12px;
    margin-top: 80px;
    padding: 20px 110px 0 110px;
  }