.areaAndIpLimit {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  .explainText {
    margin-right: 242px;
  }
  h3 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 16px;
  }
  p {
    width: 455px;
    opacity: 0.8;
    font-size: 16px;
    line-height: 30px;
  }
  img {
    width: 360px;
  }
}