.user-management-change-password{
  width:100%;
  .user-management-child-header{
    width:100%;
    font-size: 0.14rem;
    line-height: 0.4rem;
    margin-top: 1px;
    padding-left: 0.15rem;
    box-sizing: border-box;
  }
  .user-management-center{
    width:100%;
    padding: 0 0.15rem;
    box-sizing: border-box;
    margin-top: 0.1rem;
  }
  .user-management-center i{
    width:14px;
    height:16px;
  }
  .center-title{
    svg {
      margin-right: 10px;
    }
    font-size: 0.12rem;
    margin: 0.2rem auto;
  }
  .center-input{
    // width:380px;
    margin:0 auto;
  }
}