.block-title-tab {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 40px;
  line-height: 38px;
  padding: 0 6px;
  border-radius: 4px 4px 0 0;
  position: relative;
  .block-title-ul {
    .block-title-item {
      float: left;
      height: 38px;
      line-height: 40px;
      cursor: pointer;
      user-select: none;
      padding: 0 10px;
    }
    .marketIcon {
      float: right;
    }
  }
}
.symbol-info-main {
  padding: 16px 16px 30px 16px;
  .symbol-info-content {
    margin-bottom: 30px;
  }
  .symbol-name {
    font-size: 16px;
    line-height: 22px;
  }
  .symbol-price {
    margin-top: 14px;
    font-size: 22px;
    line-height: 22px;
  }
  .symbol-vol {
    margin-top: 14px;
    font-size: 12px;
    .price {
      font-size: 14px;
    }
  }
  span {
    display: inline-block;
    min-width: 120px;
    margin-right: 20px;
  }
  .alert-button {
    font-size: 12px;
  }
}