.page-resetPass {
   margin-top: 1px;
  .guide-center {
    p {
      font-family: PingFangSC-Regular;
      font-size: 0.22rem;
      text-align: center;
      line-height: 0.22rem;
      margin-top: 0.24rem;
    }
    .guide-text {
      margin-top: 0.12rem;
      font-size: 0.14rem;
      text-align: center;
    }
  }
  // 主体
  .page-resetPass-content {
    padding-top: 0.4rem; // 90 - 44
    .content-center {
      width: 3.45rem;
      margin: 0 auto;
      .resetPassTab {
        margin-bottom: 24px;
      }
    }
  }
  .copy {
    display: none;
  }
}