.co-market-box {
  background-color: #fff;
  height: 100%;
  .market-tab {
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    .category-select-box {
      display: flex;
      border-radius: 2px;
      margin-top: 10px;
      .tab {
        height: 40px;
        line-height: 40px;
        flex: 1;
        text-align: center;
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        max-width: 80px;
        color: RGB(167, 180, 203);
        .s {
          display: none;
        }
        &:hover {
          .s {
            display: block;
          }
        }
        &.u-8-bg {
          border-radius: 2px;
          background-color: rgba(167, 180, 203, .1);
          color: #16161F;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
    .search {
      width: 130px;
      .input-find-content {
        width: 100%;
        .iconbox{
          float: right;
        }
        input {
          width: 70px;
          line-height: 28px;
          height: 28px;
          padding-left: 5px;
        }
      }
    }
  }
  .co-market-symbol {
    font-size: 12px;
    height: calc(100% - 60px);
    border-radius: 10px;
    .thead {
      width: 100%;
      height: 27px;;
      box-sizing: border-box;
      padding: 0 14px;
      display: flex;
      align-items: center;
      background-color: rgba(228, 228, 228, .25);
      span {
        font-size: 12px;
        font-weight: 600;
        color: rgb(167, 180, 203);
      }
    }
    .tbody {
      height 346px;
      box-sizing: border-box;
      .tr {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: rgba(167, 180, 203, .2); 
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        height: 53px;
        align-items: center;
        position: relative;
        background-color: #fff !important;
        &:hover {
          .bg {
            display block
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            background-color #fff !important
          }
        }
      }
    }
    .thead,
    .tbody {
      span {
        flex: 1;
        position: relative;
        cursor: pointer;
        user-select: none;
        &.td-rose {
          text-align: right;
        }
        &.td-symbol {
          min-width 114px;
        }
      }
    }
  }
  .sorte {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
  }
























}