.mining {
  margin-top: -60px;
  .top-content {
    padding-top 60px
    height: 359px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .warp {
    width: 1180px;
    margin: 0 auto;
    .common-table {
      background: none;
    }
  }
  .page-title {
    margin-top: 70px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
  }
  .f_r {
    float: right;
  }
  .my-minning-pct {
    margin-top: 48px;
    .tit {
      font-size: 12px;
      line-height: 12px;
    }
    .num {
      font-size: 14px;
      line-height: 14px;
    }
    .pct-bar {
      margin: 10px 0;
      overflow: hidden;
      height: 12px;
      .pct {
        height: 12px;
        width: 50%;
      }
    }
  }
  .wk-info {
    margin-top: 58px;
    .item-box {
      width: 25%;
      float: left;
      .box-bar {
        border-left-width: 1px;
        border-left-style: solid;
        padding-left: 20px;
      }
      .name {
        font-size: 16px;
        line-height: 16px;
      }
      .txt {
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
      }
      .padding {
        height: 44px;
      }
    }
  }
  .my-harvest {
    border-radius: 2px;
    margin-top: 44px;
    display: inline-block;
    width:100%;
    .mian-nav{
      display: block;
      height:48px;
      padding-left: 20px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
    .tit {
      font-size: 16px;
      line-height: 22px;
      padding: 20px 0 0 20px;
    }
    .div-earnings{
      display: inline-block;
      width: 100%;
      padding-bottom: 20px;
    }
    .sy-num {
      margin-top: 16px;
      padding-left: 20px;
      float: left;
      span {
        font-size: 32px;
        line-height: 32px;
        display: inline-block;
        margin-right: 5px;
      }
      b {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        margin-top: 18px;
      }
    }
    .tt-num {
      float: right;
      margin-top: 15px;
      font-size: 14px;
      line-height: 14px;
      .tt-i {
        float: left;
        padding: 0 40px;
        line-height: 30px;
        &:last-child {
          border-left-width: 1px;
          border-left-style: solid;
        }
        .t {
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
    .center{
      width: 940px;
      padding: 0 20px;
      position: relative;
      .center-main{
        display: flex;
        margin-top: 22px;
        div:nth-of-type(1){
          margin-right: 160px;
        }
        div{
          p:nth-of-type(1){
            font-size: 12px;
            line-height: 22px;
          }
          p:nth-of-type(2){
            font-size: 16px;
          }
        }
      }
      .invitation-way{
        width: 100%;
        margin-top: 36px;
        p:nth-of-type(1){
          font-size:12px;
          margin-bottom:10px;
        }
        .invitation-ways{
          display: flex;
          margin-bottom: 20px;
          div{
            line-height: 56px;
            height:56px;
            svg:nth-of-type(1){
              margin:0 10px 0 16px;
            }
            svg:nth-of-type(2){
              margin:0 18px 0 12px;
              cursor:pointer;
            }
          }
          div:nth-of-type(1){
            width:180px;
            font-size: 14px;
            margin-right:10px;
          }
          div:nth-of-type(2){
            width 480px;
            height:56px;
            line-height: 56px;
            font-size: 12px;
            z-index: 2;
            svg:nth-of-type(3){
              cursor:pointer;
            }
            .inviteQECode-show{
              position: relative;
              svg{
                margin:0;
              }
              .center-img{
                display: none;
                position:absolute;
                top:18px;
                right:-72px;
                width:90px;
                height:90px;
                margin-right 0;
                z-index:2;
                img{
                  width:80px;
                  height:80px;
                  margin:5px;
                }
              }
            }
            .inviteQECode-show:hover{
              .center-img {
                display: block;
              }
            }
          }
        }
      }
      .center-bg{
        position: absolute;
        right:0;
        bottom: 0;
      }
    }
  }
  .mining-data {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
  }
  .mining-tit {
    height: 54px;
    line-height: 51px;
    padding: 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    span {
      display: inline-block;
      font-size: 14px;
      margin-right: 50px;
      height: 51px;
      user-select: none;
      cursor: pointer;
      &.selected {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
  }
  .invite-bonus{
    margin-top: 20px;
    .main-table{
      width:100%;
      .main-table-title{
        font-size: 14px;
        padding:20px 0 20px 32px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
    }
  }
}
