.user-management-exccAuthorization{
    width:100%;
    padding-bottom: 0.5rem;
    .loadinBox {
      position: fixed;
      top: 0.5rem;
      left: 0;
      bottom: 0;
      right: 0;
      padding-top: 100px;
      text-align: center;
    }
    .input-line-content .input-line-baseStance-disabled {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }
    .user-management-child-header{
      font-size: 0.14rem;
      padding-left: 0.15rem;
      margin-top: 1px;
      line-height: 0.4rem;
      box-sizing: border-box;
    }
    .user-management-center i{
      width:14px;
    }
    .idAuth-center{
      width: 100%;
      padding: 0 0.15rem;
      box-sizing: border-box;
    }
    .note {
      margin: 0.1rem 0;
      font-size: 0.12rem;
    }
    .audit-information{
      text-align: center;
      svg {
        margin: 80px 0 15px 0;
      }
    }
    .audit-information p{
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
  }